Repository gardener/landscaper, pull requests merged in 2020-11, with the labels that each got.

#30 add possibility to use secret or configmap to reference dataobject data
  charts/landscaper/templates/crd/landscaper.gardener.cloud_installations.yaml
  pkg/apis/.schemas/landscaper_Blueprint.json
  pkg/apis/.schemas/landscaper_InstallationTemplate.json
  pkg/apis/core/types_installation.go
  pkg/apis/core/types_shared.go
  pkg/apis/core/v1alpha1/types_installation.go
  pkg/apis/core/v1alpha1/types_shared.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/validation/blueprint.go
  pkg/apis/core/validation/blueprint_test.go
  pkg/apis/core/validation/installation.go
  pkg/apis/core/validation/installation_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/helper.go
  pkg/landscaper/installations/imports/testdata/state/test6/00-root-dep-import.yaml
  pkg/landscaper/installations/imports/testdata/state/test6/00-root.yaml
  pkg/landscaper/installations/imports/testdata/state/test7/00-root-dep-import.yaml
  pkg/landscaper/installations/imports/testdata/state/test7/00-root.yaml
  pkg/landscaper/installations/imports/validation.go
  pkg/landscaper/installations/operation.go
  test/utils/envtest/environment.go
  test/utils/envtest/fake_client.go
  test/utils/envtest/types.go
Labels: area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#32 add installations docs
  docs/concepts/Context.md
  docs/usage/Installations.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#28 add local rendering command
  cmd/landscaper-cli/app/app.go
  cmd/landscaper-cli/app/blueprints/blueprints.go
  cmd/landscaper-cli/app/blueprints/render.go
  cmd/landscaper-cli/app/blueprints/types.go
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/resources/ingress-nginx/import-values.yaml
  docs/usage/LandscaperCli.md
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/template/state.go
  pkg/landscaper/installations/subinstallations/helper.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
Labels: area/dev-productivity, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/xl

#33 Deployitem validation
  pkg/apis/core/validation/blueprint.go
  pkg/apis/core/validation/blueprint_test.go
  pkg/apis/core/validation/deployitem.go
  pkg/apis/core/validation/deployitem_test.go
  pkg/apis/core/validation/execution.go
  pkg/apis/core/validation/execution_test.go
  pkg/apis/core/validation/installation.go
  pkg/apis/core/validation/installation_test.go
Labels: kind/api-change, kind/enhancement, needs/changes, needs/ok-to-test, needs/second-opinion, priority/normal, size/l

#42 Fix import status type propagation
  charts/landscaper/templates/crd/landscaper.gardener.cloud_installations.yaml
  hack/generate-code.sh
  pkg/apis/.schemas/container_ProviderConfiguration.json
  pkg/apis/core/types_installation.go
  pkg/apis/core/v1alpha1/types_installation.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/landscaper/installations/operation.go
Labels: kind/api-change, kind/bug, needs/ok-to-test, needs/second-opinion, priority/normal, size/s

#44 fix checkTargetImportIsOutdated()
  pkg/landscaper/installations/imports/validation.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#43 check if parent not nil
  pkg/landscaper/installations/imports/validation.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#46 extend .gitignore for .vscode & /dev
  .gitignore
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#47 Tutorial/local setup
  docs/README.md
  docs/tutorials/00-local-setup.md
Labels: area/documentation, needs/changes, needs/ok-to-test, priority/normal, size/m

#49 Add auto generated api-reference for core resources
  Makefile
  docs/README.md
  docs/api-reference/core.md
  go.mod
  go.sum
  hack/api-reference/core-config.json
  hack/api-reference/template/members.tpl
  hack/api-reference/template/pkg.tpl
  hack/api-reference/template/tools.go
  hack/api-reference/template/type.tpl
  hack/tools.go
  pkg/apis/core/v1alpha1/doc.go
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.gitignore
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.goreleaser.yml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.travis.yml
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/LICENSE
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/README.md
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/example-config.json
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/go.mod
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/go.sum
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/github.com/russross/blackfriday/v2/.gitignore
  vendor/github.com/russross/blackfriday/v2/.travis.yml
  vendor/github.com/russross/blackfriday/v2/LICENSE.txt
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/go.mod
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/markdown.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/russross/blackfriday/v2/smartypants.go
  vendor/github.com/shurcooL/sanitized_anchor_name/.travis.yml
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/README.md
  vendor/github.com/shurcooL/sanitized_anchor_name/go.mod
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
  vendor/modules.txt
Labels: area/documentation, kind/api-change, needs/ok-to-test, needs/second-opinion, priority/normal, size/xl

#50 Add allow plain http
  .gitignore
  charts/landscaper/templates/_helpers.tpl
  charts/landscaper/templates/deployment.yaml
  charts/landscaper/templates/registry-secret.yaml
  charts/landscaper/values.yaml
  cmd/landscaper-cli/app/app.go
  cmd/landscaper-cli/app/blueprints/get.go
  cmd/landscaper-cli/app/blueprints/push.go
  cmd/landscaper-cli/app/componentdescriptor/get.go
  cmd/landscaper-cli/app/componentdescriptor/push.go
  docs/gettingstarted/install-landscaper-controller.md
  docs/tutorials/00-local-setup.md
  pkg/apis/.schemas/container_Configuration.json
  pkg/apis/.schemas/helm_Configuration.json
  pkg/apis/.schemas/landscaper_LandscaperConfiguration.json
  pkg/apis/config/types_landscaper_config.go
  pkg/apis/config/v1alpha1/types_landscaper_config.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/utils/oci/client.go
  pkg/utils/oci/types.go
Labels: area/dev-productivity, kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/m

#51 Use Gardenlinux as base image
  Dockerfile
Labels: area/robustness, needs/ok-to-test, needs/review, priority/normal, size/xs

#53 check observed generation of di
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/execution/testdata/state/test2/10-deploy-item.yaml
Labels: needs/changes, needs/ok-to-test, size/xs

#52 Enable optional imports
  pkg/apis/core/v1alpha1/types_blueprint.go
  pkg/apis/core/validation/blueprint.go
  pkg/apis/core/validation/blueprint_test.go
  pkg/landscaper/installations/imports/constructor.go
Labels: kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#54 change last update time only if needed
  pkg/apis/core/v1alpha1/helper/helpers.go
Labels: kind/api-change, needs/changes, needs/ok-to-test, size/xs

#55 Docs/update tutorials
  docs/concepts/Context.md
  docs/concepts/Glossary.md
  docs/gettingstarted/install-landscaper-controller.md
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/resources/ingress-nginx/component-descriptor.yaml
  docs/tutorials/resources/ingress-nginx/configmap.yaml
  docs/tutorials/resources/ingress-nginx/installation.yaml
Labels: area/documentation, needs/ok-to-test, priority/normal, size/m

#56 simplify reconcile of executions and set observed generation earlier
  pkg/apis/core/v1alpha1/helper/helpers.go
  pkg/landscaper/controllers/execution/actuator.go
  pkg/landscaper/execution/reconcile.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/s

#57 Add compdesc blueprint relationship images
  docs/README.md
  docs/concepts/InstallationBlueprintRelationship.md
  docs/deployer/container.md
  docs/images/comdesc-blueprint-ref-local.png
  docs/images/compdesc-blueprint-inline-relationship.png
  docs/images/compdesc-blueprint-ref-relationship.png
  docs/usage/Installations.md
Labels: area/documentation, needs/changes, needs/ok-to-test, priority/normal, size/s

#58 Reduce length of label values
  pkg/apis/core/v1alpha1/helper/dataobjects.go
  pkg/apis/core/validation/blueprint.go
  pkg/apis/core/validation/installation.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/exports/testdata/state/test1/11-a-export.yaml
  pkg/landscaper/installations/exports/testdata/state/test1/21-b-export.yaml
  pkg/landscaper/installations/exports/testdata/state/test1/31-c-export.yaml
  pkg/landscaper/installations/exports/testdata/state/test3/21-a-secret.yaml
  pkg/landscaper/installations/exports/testdata/state/test4/21-e-target.yaml
  pkg/landscaper/installations/imports/testdata/state/test4/11-root-import.yaml
  pkg/landscaper/installations/subinstallations/subinstallations.go
Labels: kind/api-change, needs/changes, needs/ok-to-test, size/s
