Repository gardener/landscaper, pull requests merged in 2020-10, with the labels that each got.

#23 implement state handling for template executors
  docs/usage/TemplateExecutors.md
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/executions/template/gotemplate.go
  pkg/landscaper/installations/executions/template/spifftemplate.go
  pkg/landscaper/installations/executions/template/state.go
  pkg/landscaper/installations/executions/template/state_test.go
  pkg/landscaper/installations/executions/template/template.go
  pkg/landscaper/installations/executions/template/template_test.go
  pkg/landscaper/installations/executions/template/testdata/gotemplate/template-09.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/template-09.yaml
  pkg/landscaper/installations/exports/constructor.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#24 Pass labels to deploy items
  charts/landscaper/templates/crd/landscaper.gardener.cloud_executions.yaml
  pkg/apis/core/types_execution.go
  pkg/apis/core/v1alpha1/types_execution.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/landscaper/execution/reconcile.go
Labels: kind/api-change, needs/ok-to-test, needs/second-opinion, size/xs

#25 reconcile failed deploy items
  pkg/apis/core/v1alpha1/helper/helpers.go
  pkg/landscaper/execution/reconcile.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/xs

#26 Pass force reconcile annotation
  pkg/landscaper/controllers/execution/actuator.go
  pkg/landscaper/installations/executions/operation.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#27 refactor import validation
  pkg/landscaper/controllers/installations/ensure.go
  pkg/landscaper/installations/imports/validation.go
  pkg/landscaper/installations/imports/validation_test.go
Labels: needs/ok-to-test, needs/review, priority/normal, size/m
