Repository gardener/landscaper, pull requests merged in 2021-05, with the labels that each got.

#169 update chart version for ingress-nginx
  docs/README.md
  docs/development/tutorials.md
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/resources/aggregated/blueprint/blueprint.yaml
  docs/tutorials/resources/echo-server/blueprint/blueprint.yaml
  docs/tutorials/resources/external-jsonschema/echo-server/blueprint/blueprint.yaml
  docs/tutorials/resources/ingress-nginx/blueprint/blueprint.yaml
  docs/tutorials/resources/ingress-nginx/component-descriptor.yaml
  docs/tutorials/resources/ingress-nginx/installation.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/CHANGELOG.md
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/Chart.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/NOTES.txt
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/admission-webhooks/job-patch/psp.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/clusterrole.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/clusterrolebinding.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-configmap.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-keda.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-prometheusrules.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-psp.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-role.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-rolebinding.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-serviceaccount.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/controller-servicemonitor.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/default-backend-deployment.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/default-backend-psp.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/default-backend-role.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/default-backend-rolebinding.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/default-backend-serviceaccount.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/templates/dh-param-secret.yaml
  docs/tutorials/resources/local-ingress-nginx/chart/ingress-nginx/values.yaml
  docs/tutorials/resources/local-ingress-nginx/component-descriptor.yaml
  docs/tutorials/resources/local-ingress-nginx/helm-resource.yaml
  docs/tutorials/resources/local-ingress-nginx/installation.yaml
  docs/tutorials/resources/local-ingress-nginx/resources.yaml
  hack/upload-tutorial-resources.sh
  pkg/deployer/helm/chartresolver/chartresolver_suite_test.go
  pkg/deployer/helm/chartresolver/testdata/01-component-descriptor.yaml
  pkg/deployer/helm/test/e2e_test.go
Labels: area/quality, kind/enhancement, kind/test, needs/ok-to-test, priority/3, reviewed/lgtm, size/l

#186 add simple local cluster setup script
  docs/development/local-setup.md
  hack/resources/k3d-cluster-config.yaml
  hack/setup-local-env.sh
Labels: needs/ok-to-test, needs/review, priority/3, size/s

#196 update base image to use latest alpine
  Dockerfile
Labels: area/security, kind/test, needs/ok-to-test, needs/review, priority/3, size/xs

#197 Not fetching the blueprint of installations if not needed
  pkg/landscaper/installations/context.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/helper_test.go
  pkg/landscaper/installations/imports/constructor.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/helper.go
  pkg/landscaper/installations/imports/types.go
  pkg/landscaper/installations/imports/validation.go
  pkg/landscaper/installations/imports/validation_test.go
  pkg/landscaper/installations/installation.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
Labels: area/control-plane, kind/bug, kind/test, needs/ok-to-test, priority/3, reviewed/lgtm, size/m

#200 Fix target annotation and label propagation
  pkg/landscaper/dataobjects/target.go
  pkg/landscaper/installations/executions/template/template.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/operation_test.go
  pkg/utils/miscellaneous.go
Labels: kind/bug, needs/ok-to-test, priority/3, reviewed/lgtm, size/m

#205 add init and wait container images to container compdesc
  .landscaper/container-deployer/resources.yaml
Labels: needs/ok-to-test, needs/review, priority/3, size/xs

#206 add init and wait container handling in container deployer helm chart
  .landscaper/container-deployer/blueprint/blueprint.yaml
  .landscaper/container-deployer/example/component-descriptor.yaml
Labels: area/operations, kind/bug, needs/ok-to-test, needs/review, priority/3, size/xs

#203 Fix force-reconcile deadlock in execution controller
  pkg/landscaper/execution/reconcile.go
Labels: area/operations, kind/bug, needs/ok-to-test, needs/review, priority/3, size/xs

#207 add standalone blueprint rendering and unit tests for deployer bluepints
  pkg/landscaper/blueprints/blueprint.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/landscaper/blueprint.go
  pkg/utils/miscellaneous.go
  test/landscaper/deployer_blueprints/deployer_blueprint_test.go
  test/utils/resources.go
Labels: area/quality, kind/test, needs/ok-to-test, needs/review, needs/second-opinion, priority/3, size/xl

#213 Fix missing defaulting for Landscaper Controller config
  cmd/landscaper-controller/app/app.go
  cmd/landscaper-controller/app/app_test.go
  cmd/landscaper-controller/app/options.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/3, reviewed/lgtm, size/xs

#212 improve force reconcile deadlock in the execution controller
  pkg/landscaper/controllers/execution/controller.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, needs/review, priority/3, size/xs

#209 Improve testsetup by using the new testenv tool
  Makefile
  hack/install-requirements.sh
  hack/setup-testenv.sh
  hack/test.sh
  test/utils/envtest/environment.go
Labels: area/dev-productivity, needs/changes, needs/ok-to-test, needs/review, priority/3, size/s
