Repository gardener/landscaper, pull requests merged in 2021-06, with the labels that each got.

#215 improve handling of multiple concurrent managers by using errgroups
  cmd/landscaper-agent/app/app.go
  pkg/deployer/lib/cmd/default.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/3, reviewed/lgtm, size/s

#221 Fix helm chart
  charts/landscaper/templates/_helpers.tpl
  pkg/landscaper/controllers/installations/controller.go
Labels: area/operations, kind/bug, needs/ok-to-test, priority/2, reviewed/lgtm, size/xs

#223 fix namespace injection in integration test
  test/integration/tutorial/simple-import.go
Labels: area/testing, kind/bug, needs/ok-to-test, priority/1, reviewed/lgtm, size/xs

#214 improve deploy item abort timeout handling
  apis/core/v1alpha1/helper/helpers.go
  pkg/landscaper/controllers/deployitem/controller.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
Labels: kind/test, lifecycle/stale, needs/ok-to-test, priority/3, reviewed/lgtm, size/s

#219 update landscaper oci media types and parsing
  apis/core/v1alpha1/constants.go
  apis/mediatype/constants.go
  apis/mediatype/mediatype.go
  apis/mediatype/mediatypes_test.go
  apis/vendor/github.com/onsi/ginkgo/extensions/table/table.go
  apis/vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go
  apis/vendor/modules.txt
  docs/technical/types.md
  examples/01-simple/definitions/component-descriptor.yaml
  go.mod
  pkg/landscaper/blueprints/blueprint.go
  pkg/landscaper/blueprints/bputils/utils.go
  pkg/landscaper/blueprints/resolve.go
  pkg/landscaper/controllers/installations/testdata/registry/component-descriptor.yaml
  pkg/landscaper/installations/testdata/registry/component-descriptor.yaml
  pkg/landscaper/registry/components/blueprint.go
  pkg/landscaper/registry/components/local.go
  pkg/utils/tar.go
  test/integration/core/registry.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/mediatype/constants.go
  vendor/github.com/gardener/landscaper/apis/mediatype/mediatype.go
  vendor/modules.txt
Labels: area/oci, kind/technical-debt, kind/test, needs/ok-to-test, needs/review, needs/second-opinion, priority/3, size/xl

#216 Remove inline deployers and add additional deployer configuration
  apis/core/v1alpha1/constants.go
  charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  cmd/landscaper-controller/app/app_test.go
  cmd/landscaper-controller/app/options.go
  cmd/landscaper-controller/app/types.go
  docs/gettingstarted/install-landscaper-controller.md
  examples/80-Example-DeployerRegistration.yaml
  pkg/deployermanagement/config/config_suite_test.go
  pkg/deployermanagement/config/deployment.go
  pkg/deployermanagement/config/options.go
  pkg/deployermanagement/config/options_test.go
  pkg/deployermanagement/config/types.go
  pkg/deployermanagement/config/types_test.go
  pkg/deployermanagement/controller/add.go
  pkg/deployermanagement/controller/controller.go
  pkg/deployermanagement/controller/controller_reconcile_test.go
  pkg/deployermanagement/controller/deployer_management_delete.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/deployermanagement/controller/deployer_management_test.go
  pkg/deployermanagement/controller/deployers_suite_test.go
  pkg/landscaper/constants/constants.go
  test/integration/deployers/blueprints/blueprints_tests.go
  test/integration/deployers/helmcharts/chartstests.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
Labels: area/deployers, kind/task, kind/test, needs/ok-to-test, needs/second-opinion, priority/3, size/xl

#229 Improve landscaper blueprint handling
  apis/.schemes/config-v1alpha1-LandscaperConfiguration.json
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/defaults.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/config/v1alpha1/zz_generated.defaults.go
  apis/config/zz_generated.deepcopy.go
  apis/core/v1alpha1/constants.go
  apis/openapi/openapi_generated.go
  cmd/landscaper-controller/app/app.go
  go.mod
  pkg/deployer/container/init/init.go
  pkg/deployer/container/init/init_suite_test.go
  pkg/deployer/container/state/state.go
  pkg/landscaper/blueprints/bputils/builder.go
  pkg/landscaper/blueprints/bputils/utils.go
  pkg/landscaper/blueprints/metrics.go
  pkg/landscaper/blueprints/resolve.go
  pkg/landscaper/blueprints/resolve_test.go
  pkg/landscaper/blueprints/store.go
  pkg/landscaper/blueprints/store_test.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/registry/components/cdutils/utils.go
  pkg/landscaper/registry/components/local.go
  pkg/landscaper/registry/components/oci_test.go
  pkg/metrics/metrics.go
  pkg/utils/miscellaneous.go
  pkg/utils/simplelogger/iologger.go
  pkg/utils/tar/tar.go
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/modules.txt
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/second-opinion, priority/3, size/xl

#232 Update docs
  cmd/landscaper-webhooks-server/app/options.go
  docs/development/local-setup.md
  docs/gettingstarted/install-landscaper-controller.md
  pkg/deployermanagement/controller/deployer_management_reconcile.go
Labels: area/documentation, needs/ok-to-test, priority/3, reviewed/lgtm, size/xs

#233 add event recorder and report all errors by default
  apis/errors/error.go
  pkg/deployer/container/add.go
  pkg/deployer/container/container.go
  pkg/deployer/container/container_delete.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/reconciler_pod.go
  pkg/deployer/helm/deployer.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/helm.go
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/targetselector/e2e_suite_test.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/manifest.go
  pkg/deployer/manifest/objectapplier.go
  pkg/deployer/manifest/test/e2e_test.go
  pkg/deployer/mock/add.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/deployitem/reconcile_test.go
  pkg/landscaper/controllers/execution/add.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/add.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/delete_test.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/execution/reconcile_test.go
  pkg/landscaper/installations/context_test.go
  pkg/landscaper/installations/exports/constructor_test.go
  pkg/landscaper/installations/imports/conditional_imports_test.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/outdated_test.go
  pkg/landscaper/installations/imports/validation_test.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/operation_test.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/landscaper/operation/operation.go
  test/landscaper/e2e/inlinecd_test.go
  test/landscaper/e2e/simple_test.go
  vendor/github.com/gardener/landscaper/apis/errors/error.go
  vendor/modules.txt
Labels: area/operations, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, priority/3, size/l
