Repository gardener/landscaper, pull requests merged in 2021-02, with the labels that each got.

#106 New docs - Overview page
  docs/README_new.md
Labels: needs/ok-to-test, needs/review, size/s

#108 Readme motivation
  README.md
Labels: needs/ok-to-test, size/xs

#110 add metrics support
  .schemas/landscaper_LandscaperConfiguration.json
  README.md
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/defaults.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/config/zz_generated.deepcopy.go
  charts/landscaper/templates/_helpers.tpl
  charts/landscaper/templates/deployment.yaml
  charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  docs/gettingstarted/install-landscaper-controller.md
  go.mod
  go.sum
  pkg/deployer/container/actuator.go
  pkg/deployer/container/container.go
  pkg/deployer/container/reconcile.go
  pkg/deployer/helm/actuator.go
  pkg/deployer/helm/helm.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/landscaper/controllers/installations/actuator.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/landscaper/registry/components/manager.go
  pkg/landscaper/registry/components/oci.go
  pkg/utils/ociconfig.go
  vendor/github.com/gardener/component-cli/ociclient/cache/cache.go
  vendor/github.com/gardener/component-cli/ociclient/cache/filesystem.go
  vendor/github.com/gardener/component-cli/ociclient/cache/types.go
  vendor/github.com/gardener/component-cli/ociclient/metrics/metrics.go
  vendor/github.com/gardener/component-spec/bindings-go/apis/v2/componentdescriptor.go
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/mock/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/mock/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/mock/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/do-not-merge, reviewed/lgtm, size/l

#64 add validatingwebhook
  apis/core/v1alpha1/register.go
  apis/core/validation/execution.go
  charts/landscaper/templates/deployment.yaml
  charts/landscaper/templates/rbac.yaml
  charts/landscaper/templates/service.yaml
  charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  cmd/landscaper-controller/app/options.go
  go.mod
  go.sum
  pkg/utils/webhook/add.go
  pkg/utils/webhook/certificates.go
  pkg/utils/webhook/certificates/certificate_infodata.go
  pkg/utils/webhook/certificates/certificates.go
  pkg/utils/webhook/certificates/generate.go
  pkg/utils/webhook/certificates/private_key_infodata.go
  pkg/utils/webhook/certificates/rsa_private_key.go
  pkg/utils/webhook/certificates/secrets.go
  pkg/utils/webhook/certificates/types.go
  pkg/utils/webhook/certificates/utils.go
  pkg/utils/webhook/utils.go
  pkg/utils/webhook/webhook.go
  pkg/utils/webhook/webhook_suite_test.go
  test/integration/suite_test.go
  test/integration/webhook/webhook.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/register.go
  vendor/github.com/gardener/landscaper/apis/core/validation/execution.go
  vendor/gopkg.in/yaml.v3/.travis.yml
  vendor/gopkg.in/yaml.v3/apic.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/emitterc.go
  vendor/gopkg.in/yaml.v3/encode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/gopkg.in/yaml.v3/scannerc.go
  vendor/gopkg.in/yaml.v3/yaml.go
  vendor/gopkg.in/yaml.v3/yamlh.go
  vendor/modules.txt
Labels: kind/api-change, kind/enhancement, kind/test, needs/ok-to-test, priority/normal, reviewed/do-not-merge, reviewed/lgtm, size/xl

#117 add test for simple import and aggregation tutorial
  Makefile
  docs/tutorials/03-simple-import.md
  docs/tutorials/04-aggregated-blueprint.md
  docs/tutorials/resources/aggregated/blueprint/blueprint.yaml
  docs/tutorials/resources/aggregated/component-descriptor.yaml
  docs/tutorials/resources/aggregated/configmap.yaml
  docs/tutorials/resources/aggregated/import-values.yaml
  docs/tutorials/resources/aggregated/installation.yaml
  docs/tutorials/resources/echo-server/blueprint/blueprint.yaml
  docs/tutorials/resources/echo-server/blueprint/defaultDeployExecution.yaml
  docs/tutorials/resources/echo-server/component-descriptor.yaml
  docs/tutorials/resources/echo-server/configmap.yaml
  docs/tutorials/resources/echo-server/installation.yaml
  pkg/deployer/manifest/ensure.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/imports/helper.go
  pkg/landscaper/installations/imports/validation.go
  pkg/utils/kubernetes/kubernetes.go
  test/integration/tutorial/aggregated-blueprint.go
  test/integration/tutorial/ingress-nginx.go
  test/integration/tutorial/register.go
  test/integration/tutorial/simple-import.go
  test/utils/landscaper.go
Labels: area/testing, kind/test, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/l

#119 Fix error and state handling in manifest deployer
  Makefile
  apis/core/v1alpha1/helper/error.go
  apis/core/v1alpha1/helper/helpers.go
  apis/core/v1alpha1/types_shared.go
  apis/deployer/manifest/types_provider.go
  apis/deployer/manifest/v1alpha1/zz_generated.conversion.go
  apis/deployer/manifest/v1alpha2/types_provider.go
  apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  apis/deployer/manifest/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  charts/landscaper/templates/crd/landscaper.gardener.cloud_deployitems.yaml
  charts/landscaper/templates/crd/landscaper.gardener.cloud_installations.yaml
  docs/api-reference/core.md
  pkg/deployer/manifest/actuator.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/objectapplier.go
  pkg/deployer/manifest/test/e2e_test.go
  pkg/deployer/manifest/test/manifestdeployer_suite_test.go
  pkg/deployer/manifest/test/testdata/01-di.yaml
  pkg/deployer/manifest/test/testdata/02-di-updated.yaml
  pkg/deployer/manifest/test/testdata/03-di-removed.yaml
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/error.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/register.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/zz_generated.deepcopy.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/second-opinion, priority/normal, size/xl

#128 Change FieldValueDefinition structure
  apis/core/types_blueprint.go
  apis/core/v1alpha1/types_blueprint.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/validation/blueprint.go
  apis/core/validation/blueprint_test.go
  apis/core/zz_generated.deepcopy.go
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/imports/constructor.go
  vendor/github.com/gardener/landscaper/apis/core/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/validation/blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/usability, kind/api-change, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/s

#130 Pass registryPullSecrets from Installation to Execution and DeployItems
  apis/core/types_deployitem.go
  apis/core/types_execution.go
  apis/core/v1alpha1/conversion.go
  apis/core/v1alpha1/types_deployitem.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  docs/api-reference/core.md
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/helm/helm.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployitems.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/execution/reconcile_test.go
  pkg/landscaper/execution/testdata/state/test4/00-execution.yaml
  pkg/landscaper/installations/executions/operation.go
  pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/deployers, kind/enhancement, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m
