Repository gardener/landscaper, pull requests merged in 2021-10, with the labels that each got.

#335 expose controller configuration values of the landscaper controllers
  apis/.schemes/config-v1alpha1-LandscaperConfiguration.json
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/default_test.go
  apis/config/v1alpha1/defaults.go
  apis/config/v1alpha1/defaults_test.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/config/v1alpha1/zz_generated.defaults.go
  apis/config/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  charts/landscaper/charts/landscaper/templates/_helpers.tpl
  charts/landscaper/charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  examples/00-Landscaper-Configuration.yaml
  pkg/landscaper/controllers/componentoverwrites/add.go
  pkg/landscaper/controllers/deployitem/add.go
  pkg/landscaper/controllers/execution/add.go
  pkg/landscaper/controllers/installations/add.go
  pkg/utils/controllerconfig.go
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, priority/3, area/operations

#336 move the subinstallations of landscaper service to seperate files
  .landscaper/landscaper-service/blueprint/installation/blueprint.yaml
  .landscaper/landscaper-service/blueprint/installation/landscaper-deployment-subinst.yaml
  .landscaper/landscaper-service/blueprint/installation/landscaper-rbac-subinst.yaml
  .landscaper/landscaper-service/blueprint/installation/virtual-garden-subinst.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/4, area/operations

#338 do not try to load chart from archive for non-success http status codes
  pkg/deployer/helm/chartresolver/chart.go
  pkg/deployer/helm/chartresolver/chartresolver_suite_test.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/s, area/helm-deployer, priority/3

#342 Blueprint index method
  apis/.schemes/config-v1alpha1-LandscaperConfiguration.json
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/defaults.go
  apis/config/v1alpha1/defaults_test.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/openapi/openapi_generated.go
  examples/00-Landscaper-Configuration.yaml
  pkg/landscaper/blueprints/bputils/builder.go
  pkg/landscaper/blueprints/resolve.go
  pkg/landscaper/blueprints/store.go
  pkg/landscaper/blueprints/store_test.go
  pkg/landscaper/registry/components/cdutils/utils.go
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/modules.txt
Labels: kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#344 Fixes a panic for root installations and adds support for targets in the dependency check
  .landscaper/container-deployer/resources.yaml
  .landscaper/helm-deployer/resources.yaml
  .landscaper/manifest-deployer/resources.yaml
  .landscaper/mock-deployer/resources.yaml
  .landscaper/resources.yaml
  charts/landscaper/Chart.yaml
  charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  go.mod
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/imports/helper.go
  pkg/landscaper/installations/imports/validation.go
  pkg/landscaper/installations/imports/validation_test.go
  pkg/landscaper/installations/operation.go
  pkg/utils/ociconfig.go
  vendor/modules.txt
Labels: kind/bug, kind/test, needs/ok-to-test, needs/review, needs/second-opinion, size/l, priority/3

#340 Provide CD-List for imported CD-List
  docs/usage/Blueprints.md
  pkg/landscaper/dataobjects/cdlist.go
  pkg/landscaper/installations/imports/constructor_test.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3
