Repository gardener/landscaper, pull requests merged in 2021-08, with the labels that each got.

#273 Common manifest handling
  apis/.schemes/helm-v1alpha1-ProviderConfiguration.json
  apis/.schemes/helm-v1alpha1-ProviderStatus.json
  apis/.schemes/manifest-v1alpha1-ProviderConfiguration.json
  apis/.schemes/manifest-v1alpha2-ProviderConfiguration.json
  apis/.schemes/manifest-v1alpha2-ProviderStatus.json
  apis/deployer/helm/types_provider.go
  apis/deployer/helm/v1alpha1/types_provider.go
  apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  apis/deployer/helm/zz_generated.deepcopy.go
  apis/deployer/manifest/types_provider.go
  apis/deployer/manifest/v1alpha1/conversions.go
  apis/deployer/manifest/v1alpha1/conversions_test.go
  apis/deployer/manifest/v1alpha1/types_provider.go
  apis/deployer/manifest/v1alpha1/zz_generated.deepcopy.go
  apis/deployer/manifest/v1alpha2/defaults.go
  apis/deployer/manifest/v1alpha2/types_provider.go
  apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  apis/deployer/manifest/validation/validation.go
  apis/deployer/manifest/zz_generated.deepcopy.go
  apis/deployer/utils/managedresource/doc.go
  apis/deployer/utils/managedresource/types.go
  apis/deployer/utils/managedresource/validation/validation.go
  apis/deployer/utils/managedresource/validation/validation_test.go
  apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  hack/generate-code.sh
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/manifest/ensure.go
  pkg/landscaper/registry/components/mock/resolver_mock.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/mock/client_mock.go
  test/integration/deployers/blueprints/blueprints_tests.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha1/conversions.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha1/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/validation/validation.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/doc.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/types.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/validation/validation.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/deployers, kind/cleanup, needs/ok-to-test, priority/3, reviewed/lgtm, size/xl

#279 Add webhooks server commands line flags "webhook-url" and "certificates-namespace"
  cmd/landscaper-webhooks-server/app/app.go
  cmd/landscaper-webhooks-server/app/options.go
  pkg/utils/webhook/add.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash, priority/3

#283 add missing patch verb for the "deployitems/status" resource in Helm chart
  charts/container-deployer/templates/rbac.yaml
Labels: kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, area/container-deployer, priority/4

#255 Component Descriptor Imports
  apis/.schemes/core-v1alpha1-Blueprint.json
  apis/core/types_blueprint.go
  apis/core/types_installation.go
  apis/core/v1alpha1/defaults.go
  apis/core/v1alpha1/types_blueprint.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/validation/blueprint.go
  apis/core/validation/blueprint_test.go
  apis/core/validation/helper.go
  apis/core/validation/installation.go
  apis/core/validation/installation_test.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  docs/api-reference/core.md
  docs/usage/Blueprints.md
  docs/usage/Installations.md
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployerregistrations.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  pkg/landscaper/dataobjects/cd.go
  pkg/landscaper/dataobjects/cdlist.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/imports/constructor.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/testdata/state/test10/00-cdimport-configmap.yaml
  pkg/landscaper/installations/imports/testdata/state/test10/00-cdimport-secret.yaml
  pkg/landscaper/installations/imports/testdata/state/test10/00-root.yaml
  pkg/landscaper/installations/importstatus.go
  pkg/landscaper/installations/installation.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/landscaper/installations/testdata/registry/blobs/root-5/blueprint.yaml
  pkg/landscaper/installations/testdata/registry/component-descriptor.yaml
  test/integration/installations/import-export.go
  test/integration/installations/testdata/00-root-installation.yaml
  test/integration/installations/testdata/10-cdimport-configmap.yaml
  test/integration/installations/testdata/10-cdimport-secret.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/validation/blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/validation/helper.go
  vendor/github.com/gardener/landscaper/apis/core/validation/installation.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/usability, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xl, priority/2

#285 Adapt unmarshal AnyJSON
  apis/core/v1alpha1/types_shared.go
  apis/core/v1alpha1/types_shared_test.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/deployers, priority/3

#278 add support for digests in landscaper charts
  charts/container-deployer/templates/_helpers.tpl
  charts/container-deployer/templates/deployment.yaml
  charts/helm-deployer/templates/_helpers.tpl
  charts/helm-deployer/templates/deployment.yaml
  charts/landscaper-agent/templates/_helpers.tpl
  charts/landscaper-agent/templates/deployment.yaml
  charts/landscaper/templates/_helpers.tpl
  charts/landscaper/templates/deployment-controller.yaml
  charts/landscaper/templates/deployment-webhooks.yaml
  charts/manifest-deployer/templates/_helpers.tpl
  charts/manifest-deployer/templates/deployment.yaml
  charts/mock-deployer/templates/_helpers.tpl
  charts/mock-deployer/templates/deployment.yaml
  pkg/landscaper/installations/executions/template/gotemplate/funcs.go
  pkg/landscaper/installations/executions/template/helper.go
  pkg/landscaper/installations/executions/template/spiff/funcs.go
  pkg/landscaper/installations/executions/template/template_test.go
  pkg/landscaper/installations/executions/template/testdata/gotemplate/template-13.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/template-13.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, needs/second-opinion, size/l, area/deployers, priority/3

#289 reflect the renaming of "components-cli" to "component-cli"
  docs/tutorials/00-local-setup.md
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/02-local-simple-blueprint.md
  docs/tutorials/03-simple-import.md
  docs/tutorials/04-aggregated-blueprint.md
  docs/tutorials/05-external-jsonschema.md
Labels: area/documentation, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, priority/4

#288 fix the detection of target exports by a sibling
  pkg/landscaper/installations/imports/testdata/state/test1/00-root.yaml
  pkg/landscaper/installations/imports/testdata/state/test1/50-e.yaml
  pkg/landscaper/installations/imports/testdata/state/test1/51-e-target.yaml
  pkg/landscaper/installations/imports/testdata/state/test1/60-f.yaml
  pkg/landscaper/installations/imports/validation.go
  pkg/landscaper/installations/imports/validation_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3, area/operations

#294 Container deployer fixes
  charts/container-deployer/templates/rbac.yaml
  charts/helm-deployer/templates/clusterrole.yaml
  charts/landscaper/templates/rbac-controller.yaml
  charts/manifest-deployer/templates/clusterrole.yaml
  examples/deploy-items/33-DeployItem-Container-blueprint.yaml
  pkg/deployer/container/container_reconcile.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/execution/controller.go
  test/framework/dump.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/s, area/deployers, priority/3

#287 improve container deployer docs
  docs/deployer/container.md
  docs/images/container-deployer_export.png
  docs/images/container-deployer_reconcile.png
  docs/images/container-deployer_state.png
Labels: needs/ok-to-test, needs/review, size/s, area/container-deployer

#295 blueprint layer mediatype must be set to a gzipped type
  pkg/landscaper/blueprints/bputils/utils.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3, area/operations

#298 Fix the handling of landscaper reference protocol schemes within JSON schemas
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/jsonschema/loader.go
  pkg/landscaper/jsonschema/validate.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3, area/operations

#299 add support for compressed jsonschema definitions
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/jsonschema/loader.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m, priority/3
