Repository gardener/landscaper, pull requests merged in 2022-06, with the labels that each got.

#491 Deletion status
  apis/core/v1alpha1/helper/helpers.go
  pkg/deployer/lib/error.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/delete_test.go
  pkg/landscaper/execution/reconcile.go
  pkg/utils/read_write_layer/consts.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
Labels: area/robustness, kind/bug, needs/ok-to-test, needs/second-opinion, size/l, priority/3

#494 upgrade to alpine 3.16.0
  .test-defs/install-landscaper.yaml
  Dockerfile
Labels: area/security, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#492 health checks
  Makefile
  apis/.schemes/config-v1alpha1-LandscaperConfiguration.json
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/config/zz_generated.deepcopy.go
  apis/core/register.go
  apis/core/types_ls_health_check.go
  apis/core/v1alpha1/register.go
  apis/core/v1alpha1/types_ls_health_check.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  charts/landscaper/charts/landscaper/templates/_helpers.tpl
  cmd/landscaper-controller/app/app.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/register.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_ls_health_check.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/register.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_ls_health_check.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  pkg/landscaper/controllers/healthcheck/add.go
  pkg/landscaper/controllers/healthcheck/controller.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_lshealthchecks.yaml
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/register.go
  vendor/github.com/gardener/landscaper/apis/core/types_ls_health_check.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/register.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_ls_health_check.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, priority/3

#498 update virtual-garden to v0.6.0
  .landscaper/landscaper-service/component-references.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, priority/3, area/operations
