Repository gardener/landscaper, pull requests merged in 2022-11, with the labels that each got.

#632 Target Sync 2
  pkg/landscaper/controllers/targetsync/targetsync_controller.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#633 Test reconcile annotation
  apis/config/v1alpha1/defaults.go
  apis/core/types_shared.go
  apis/core/v1alpha1/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  docs/usage/Annotations.md
  pkg/deployer/lib/controller.go
  pkg/landscaper/execution/helper.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/s, area/testing, priority/3

#635 Handle Failed Deletion of Subinstallations
  pkg/landscaper/controllers/deployitem/reconcile.go
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/controllers/execution/testdata/test3/00-execution.yaml
  pkg/landscaper/controllers/execution/testdata/test3/10-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test3/20-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test4/00-execution.yaml
  pkg/landscaper/controllers/execution/testdata/test4/10-deploy-item.yaml
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/controllers/installations/testdata/state/test8/00-root.yaml
  pkg/landscaper/controllers/installations/testdata/state/test8/10-a.yaml
  pkg/landscaper/controllers/installations/testdata/state/test8/11-b.yaml
  pkg/landscaper/execution/execution.go
Labels: needs/ok-to-test, needs/second-opinion, size/xl

#636 improve error message for duplicate sibling exports
  apis/core/validation/blueprint.go
  apis/core/validation/blueprint_test.go
  pkg/utils/dependencies/dependencies.go
  pkg/utils/dependencies/dependencies_test.go
  pkg/utils/dependencies/graph.go
  pkg/utils/dependencies/graph_test.go
  pkg/utils/dependencies/queue/queue.go
  pkg/utils/dependencies/queue/queue_suite_test.go
  pkg/utils/landscaper/blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/validation/blueprint.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, priority/3

#638 landscaper service blueprint updates
  .landscaper/landscaper-service/blueprint/installation/blueprint.yaml
  .landscaper/landscaper-service/blueprint/installation/landscaper-deployment-subinst.yaml
  .landscaper/landscaper-service/blueprint/installation/shoot-cluster-subinst.yaml
  .landscaper/landscaper-service/blueprint/landscaper/blueprint.yaml
  .landscaper/landscaper-service/blueprint/landscaper/deploy-execution.yaml
  .landscaper/landscaper-service/blueprint/shoot/blueprint.yaml
  .landscaper/landscaper-service/blueprint/shoot/deploy-execution.yaml
  .landscaper/landscaper-service/definition/shoot-configuration.json
  charts/landscaper/charts/landscaper/templates/deployment-webhooks.yaml
  charts/landscaper/charts/landscaper/templates/ingress.yaml
  charts/landscaper/charts/landscaper/values.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-installation.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-landscaper.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-shoot.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, priority/3, area/operations

#639 revert the virtual-garden removal
  .landscaper/landscaper-service/blueprint/installation/blueprint.yaml
  .landscaper/landscaper-service/blueprint/installation/landscaper-deployment-subinst.yaml
  .landscaper/landscaper-service/blueprint/installation/landscaper-rbac-subinst.yaml
  .landscaper/landscaper-service/blueprint/installation/shoot-cluster-subinst.yaml
  .landscaper/landscaper-service/blueprint/installation/virtual-garden-subinst.yaml
  .landscaper/landscaper-service/blueprint/landscaper/blueprint.yaml
  .landscaper/landscaper-service/blueprint/landscaper/deploy-execution.yaml
  .landscaper/landscaper-service/blueprint/rbac/blueprint.yaml
  .landscaper/landscaper-service/blueprint/rbac/deploy-execution.yaml
  .landscaper/landscaper-service/blueprint/rbac/export-execution.yaml
  .landscaper/landscaper-service/blueprint/shoot/blueprint.yaml
  .landscaper/landscaper-service/blueprint/shoot/deploy-execution.yaml
  .landscaper/landscaper-service/blueprint/shoot/export-execution.yaml
  .landscaper/landscaper-service/definition/shoot-configuration.json
  .landscaper/landscaper-service/resources.yaml
  test/landscaper/landscaper_service_blueprints/landscaper_service_blueprint_test.go
  test/landscaper/landscaper_service_blueprints/testdata/imports-installation.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-landscaper.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-rbac.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-shoot.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/shoot-blueprint/blueprint.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/shoot-blueprint/deploy-execution.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/shoot-blueprint/export-execution.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/shoot-configuration/schema.json
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/component-descriptor.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/virtual-garden/blobs/blueprint/blueprint.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/virtual-garden/component-descriptor.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3, area/operations

#642 explicitly set field createNamespace to true in landscaper-service blueprint
  .landscaper/landscaper-service/blueprint/landscaper/deploy-execution.yaml
  .landscaper/landscaper-service/blueprint/rbac/deploy-execution.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, priority/3, area/operations

#644 Target Sync for short lived shoot secrets
  apis/core/types_target_sync.go
  apis/core/v1alpha1/types_target_sync.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_target_sync.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target_sync.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  docs/api-reference/core.md
  docs/usage/TargetSyncs.md
  docs/usage/images/target-sync3.png
  docs/usage/images/target-sync4.png
  pkg/landscaper/controllers/targetsync/constants.go
  pkg/landscaper/controllers/targetsync/name_filter.go
  pkg/landscaper/controllers/targetsync/source_client_provider.go
  pkg/landscaper/controllers/targetsync/targetsync_controller.go
  pkg/landscaper/controllers/targetsync/targetsync_controller_test.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_targetsyncs.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_target_sync.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target_sync.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#645 Guided Tour: More Examples
  docs/guided-tour/README.md
  docs/guided-tour/basics/multiple-deployitems/README.md
  docs/guided-tour/basics/multiple-deployitems/commands/apply-target-and-installation.sh
  docs/guided-tour/basics/multiple-deployitems/commands/settings
  docs/guided-tour/basics/multiple-deployitems/installation/installation.yaml
  docs/guided-tour/basics/multiple-deployitems/installation/target-1.yaml
  docs/guided-tour/basics/multiple-deployitems/installation/target-2.yaml
  docs/guided-tour/hello-world/README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#641 enable create namespace flag for helm deployer (run-int-tests)
  docs/guided-tour/basics/multiple-deployitems/installation/installation.yaml
  docs/guided-tour/basics/upgrade/installation/installation-1.0.0.yaml
  docs/guided-tour/basics/upgrade/installation/installation-1.0.1.yaml
  docs/guided-tour/blueprints/external-blueprint/blueprint/blueprint.yaml
  docs/guided-tour/blueprints/helm-chart-resource/blueprint/blueprint.yaml
  docs/guided-tour/blueprints/helm-chart-resource/commands/push-blueprint.sh
  docs/guided-tour/error-handling/delete-error/installation/installation.yaml
  docs/guided-tour/error-handling/immediate-error/installation/installation-fixed.yaml
  docs/guided-tour/error-handling/immediate-error/installation/installation.yaml
  docs/guided-tour/error-handling/timeout-error/installation/installation-fixed.yaml
  docs/guided-tour/error-handling/timeout-error/installation/installation.yaml
  docs/guided-tour/hello-world/installation/installation.yaml
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
  test/landscaper/landscaper_service_blueprints/landscaper_service_blueprint_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, area/helm-deployer, priority/3

#647 Set createNamespace Flag in Helm DeployItems
  docs/guided-tour/basics/multiple-deployitems/commands/apply-target-and-installation.sh
  docs/guided-tour/basics/multiple-deployitems/commands/settings
  docs/guided-tour/basics/upgrade/commands/apply-target-and-installation.sh
  docs/guided-tour/basics/upgrade/commands/settings
  docs/guided-tour/error-handling/delete-error/commands/apply-target-and-installation.sh
  docs/guided-tour/error-handling/delete-error/commands/settings
  docs/guided-tour/error-handling/immediate-error/commands/apply-target-and-installation.sh
  docs/guided-tour/error-handling/immediate-error/commands/settings
  docs/guided-tour/error-handling/timeout-error/commands/apply-target-and-installation.sh
  docs/guided-tour/error-handling/timeout-error/commands/settings
  docs/guided-tour/hello-world/commands/apply-target-and-installation.sh
  docs/guided-tour/hello-world/commands/settings
  docs/level_0/resources/blueprint/deploy-execution-nginx.yaml
  docs/tutorials/resources/ingress-nginx/blueprint/blueprint.yaml
  docs/tutorials/resources/local-ingress-nginx/blueprint/blueprint.yaml
  examples/deploy-items/20-DeployItem-Helm-nginx.yaml
  test/integration/deployers/helmdeployer/testdata/01/installation.yaml
  test/integration/deployers/helmdeployer/testdata/01_updated/installation.yaml
  test/integration/deployers/helmdeployer/testdata/02_export/installation.yaml
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3
