Repository gardener/landscaper, pull requests merged in 2022-07, with the labels that each got.

#505 update virtual-garden to v0.7.0
  .landscaper/landscaper-service/component-references.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, priority/3, area/operations

#511 Fix flakey test
  pkg/landscaper/installations/subinstallations/helper_test.go
Labels: kind/bug, needs/ok-to-test, needs/review, needs/second-opinion, size/xs, area/testing, priority/3

#508 Landscaper deployment on kubernetes 1.24
  controller-utils/pkg/kubernetes/kubernetes.go
  controller-utils/pkg/kubernetes/serviceaccounts.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/deployermanagement/controller/deployer_management_test.go
  test/utils/controller.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/kubernetes/kubernetes.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/kubernetes/serviceaccounts.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, priority/3

#502 New reconcile tests
  pkg/deployer/container/container_suite_test.go
  pkg/deployer/container/test/e2e_test.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/targetselector/e2e_suite_test.go
  pkg/deployer/manifest/test/e2e_test.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/deployitem/reconcile_new.go
  pkg/landscaper/controllers/deployitem/reconcile_test.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/controllers/installations/reconcile_test.go
  pkg/landscaper/installations/imports/hash.go
  pkg/landscaper/installations/reconcilehelper/reconcilehelper.go
  pkg/landscaper/installations/reconcilehelper/validation_test.go
  pkg/utils/builders.go
  pkg/utils/constants.go
  pkg/utils/hash/hash.go
  pkg/utils/hash/hash_suite_test.go
  pkg/utils/hash/hash_test.go
  pkg/utils/landscaper/landscaper.go
  pkg/utils/read_write_layer/consts.go
  pkg/utils/read_write_layer/logger.go
  test/integration/core/register.go
  test/integration/deployers/blueprints/blueprints_tests.go
  test/integration/deployers/container_tests.go
  test/integration/deployers/helmcharts/chartstests.go
  test/integration/deployers/manifest_tests.go
  test/integration/deployers/register.go
  test/integration/deployitems/timeouts.go
  test/integration/executions/generations.go
  test/integration/executions/register.go
  test/integration/installations/import-export.go
  test/integration/installations/register.go
  test/integration/suite_test.go
  test/integration/tutorial/aggregated-blueprint.go
  test/integration/tutorial/external-jsonschema.go
  test/integration/tutorial/ingress-nginx.go
  test/integration/tutorial/register.go
  test/integration/tutorial/simple-import.go
  test/integration/webhook/webhook.go
  test/landscaper/e2e/inlinecd_test.go
  test/landscaper/e2e/simple_test.go
  test/utils/resources.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#512 Script running all integration tests in a script against a shoot cluster
  .ci/new-integration-test
  .ci/new-run-tests
  .gitignore
  hack/testcluster/pkg/cluster.go
  hack/testcluster/pkg/registry.go
  hack/testcluster/registry_create.go
  test/framework/framework.go
  test/integration/core/registry.go
  test/integration/deployers/blueprints/blueprints_tests.go
Labels: kind/test, needs/ok-to-test, needs/review, reviewed/ok-to-test, size/m, area/testing, priority/3

#506 Export data mappings
  docs/usage/Installations.md
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/exports/constructor_test.go
  pkg/landscaper/installations/exports/testdata/state/test5/00-root.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/00-root.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/10-a.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/11-a-export.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/20-b.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/21-b-export.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/30-c.yaml
  pkg/landscaper/installations/exports/testdata/state/test6/31-c-export.yaml
  pkg/landscaper/installations/reconcilehelper/reconcilehelper.go
  pkg/landscaper/installations/subinstallations/helper.go
  pkg/landscaper/installations/subinstallations/helper_test.go
  test/integration/installations/import-export.go
  test/integration/installations/testdata/test1/00-root-installation.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#516 Improve integration tests
  .ci/new-integration-test
  .ci/new-run-tests
  Makefile
  docs/development/testing.md
  test/framework/framework.go
  test/integration/suite_test.go
Labels: kind/test, needs/ok-to-test, needs/review, size/m, area/testing, priority/3

#514 New reconcile: more tests
  pkg/agent/agent.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/utils/landscaper/landscaper.go
  test/framework/framework.go
  test/integration/core/register.go
  test/integration/core/registry.go
  test/integration/deployers/blueprints/blueprints_tests.go
  test/integration/deployers/management/dm_tests.go
  test/integration/deployers/register.go
  test/integration/executions/generations.go
  test/integration/executions/testdata/test1/00-execution.yaml
  test/utils/kubernetes.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/testing, priority/3

#519 fix unit test
  pkg/landscaper/controllers/execution/reconcile_test.go
Labels: kind/test, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#518 capture test coverage
  .gitignore
  hack/test.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#509 Check for duplicate exports
  charts/landscaper/charts/rbac/templates/clusterrole-webhooks.yaml
  go.mod
  go.sum
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/operation_test.go
  pkg/utils/miscellaneous.go
  pkg/utils/webhook/utils.go
  pkg/utils/webhook/webhook.go
  test/integration/webhook/webhook.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Labels: area/robustness, kind/technical-debt, needs/ok-to-test, needs/second-opinion, size/l, priority/1

#522 fix documentation for deployersConfig
  docs/gettingstarted/install-landscaper-controller.md
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#523 Different write IDs for phase updates
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/utils/read_write_layer/consts.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/deployers, priority/3

#525 Fix json representation of jobID
  apis/core/types_execution.go
  apis/core/v1alpha1/types_execution.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  docs/api-reference/core.md
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/defaults.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#521 Adapt docu for new reconcile
  docs/deployer/README.md
  docs/deployer/container.md
  docs/deployer/helm.md
  docs/deployer/manifest.md
  docs/deployer/mock.md
  docs/development/dep-lib-extension-hooks.md
  docs/development/deployer-extensions.md
  docs/gettingstarted/install-landscaper-service.md
  docs/level_0/basic_concepts.md
  docs/level_0/first_example_installation.md
  docs/level_0/resources/installation.yaml
  docs/technical/deployer_contract.md
  docs/tutorials/00-landscaper-installation.md
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/03-simple-import.md
  docs/tutorials/04-aggregated-blueprint.md
  docs/tutorials/05-external-jsonschema.md
  docs/tutorials/resources/aggregated/installation.yaml
  docs/tutorials/resources/echo-server/installation.yaml
  docs/tutorials/resources/external-jsonschema/installation.yaml
  docs/tutorials/resources/ingress-nginx-upgrade/installation.yaml
  docs/tutorials/resources/ingress-nginx/installation.yaml
  docs/tutorials/resources/local-ingress-nginx/installation.yaml
  docs/usage/Annotations.md
  docs/usage/DeployItemTimeouts.md
  docs/usage/Installations.md
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/l, area/deployers, priority/3

#526 Fix documentation with respect to delete without uninstall
  docs/technical/deployer_contract.md
  docs/usage/Annotations.md
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#524 Docu: new installation reconcile flow
  docs/technical/execution_controller.md
  docs/technical/images/execution-phases.drawio.png
  docs/technical/images/inst-force-reconcile.png
  docs/technical/images/inst-main-reconcile.png
  docs/technical/images/inst-recheck-completed.png
  docs/technical/images/inst-standard-reconcile.png
  docs/technical/images/installation-phases.drawio.png
  docs/technical/installation_controller.md
  docs/technical/reconciliation_flow.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, priority/3

#529 Webhook integration test: check installation phase
  test/integration/webhook/webhook.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#530 Adjust cleanup of integration test
  test/utils/envtest/state.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, area/testing, priority/3

#532 extend verbs to any for serviceaccounts, roles and rolebindings
  charts/container-deployer/templates/rbac.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#531 install crds also on hosting cluster if different from landscaper cluster
  cmd/landscaper-controller/app/app.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/review, size/xs, priority/3
