Repository gardener/landscaper, pull requests merged in 2022-01, with the labels that each got.

#388 Add context awareness for jsonschema references across component descriptors
  go.mod
  go.sum
  hack/install-requirements.sh
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/imports/constructor.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/jsonschema/loader.go
  pkg/landscaper/jsonschema/reference.go
  pkg/landscaper/jsonschema/validate.go
  pkg/utils/landscaper/blueprint.go
  vendor/github.com/gardener/component-cli/ociclient/client.go
  vendor/github.com/gardener/component-cli/ociclient/test/envtest/cert.go
  vendor/github.com/gardener/component-cli/ociclient/test/envtest/config.go
  vendor/github.com/gardener/component-cli/ociclient/test/envtest/envtest.go
  vendor/github.com/gardener/component-cli/pkg/utils/utils.go
  vendor/github.com/gardener/image-vector/pkg/overwrite.go
  vendor/github.com/gardener/image-vector/pkg/types.go
  vendor/modules.txt
Labels: area/usability, kind/enhancement, kind/test, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, priority/3

#393 export ReferenceResolver type and detect cyclic dependencies
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/jsonschema/reference.go
Labels: area/robustness, kind/api-change, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#392 Pass context 2
  apis/core/types_deployitem.go
  apis/core/types_execution.go
  apis/core/v1alpha1/defaults.go
  apis/core/v1alpha1/types_deployitem.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.defaults.go
  apis/openapi/openapi_generated.go
  charts/container-deployer/templates/rbac.yaml
  charts/helm-deployer/templates/clusterrole.yaml
  charts/manifest-deployer/templates/clusterrole.yaml
  charts/mock-deployer/templates/clusterrole.yaml
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.defaults.go
  docs/api-reference/core.md
  docs/technical/deployer_contract.md
  examples/40-Example-DeployItem.yaml
  pkg/deployer/container/container.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/container_suite_test.go
  pkg/deployer/container/garbage_collector_test.go
  pkg/deployer/container/helper.go
  pkg/deployer/container/reconciler_deployitem.go
  pkg/deployer/container/reconciler_pod.go
  pkg/deployer/container/test/e2e_test.go
  pkg/deployer/helm/deployer.go
  pkg/deployer/helm/helm.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/targetselector/e2e_suite_test.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/controller.go
  pkg/deployer/manifest/test/e2e_test.go
  pkg/deployer/mock/controller.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/deployitem/testdata/04-default-context.yaml
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployitems.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/utils/builders.go
  test/utils/cnudie.go
  test/utils/envtest/environment.go
  test/utils/envtest/types.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.defaults.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/l, area/deployers, priority/3

#394 Render blueprint
  pkg/utils/landscaper/blueprint.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#400 Fix marshalling complete secrets
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3
