Repository gardener/landscaper, pull requests merged in 2022-08, with the labels that each got.

#533 update golang version to 1.18 in release scripts
  .ci/next_version
  .ci/release
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#527 Cleanup orphaned deploy items
  apis/core/v1alpha1/helper/helpers.go
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/controllers/execution/testdata/test1/00-execution.yaml
  pkg/landscaper/controllers/execution/testdata/test1/10-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test1/20-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test1/30-deploy-item.yaml
  pkg/landscaper/execution/classification.go
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/gc.go
  pkg/landscaper/execution/reconcile.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#534 added timed wait for objects, created by the integration test, being deleted
  test/integration/core/registry.go
  test/integration/deployers/helmcharts/chartstests.go
  test/integration/tutorial/external-jsonschema.go
  test/integration/tutorial/ingress-nginx.go
  test/integration/tutorial/simple-import.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/testing, priority/3

#535 Fix delete
  pkg/landscaper/execution/classification.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#536 Adjust deploy item refs in execution status
  .ci/new-run-tests
  .test-defs/integration.yaml
  pkg/landscaper/execution/gc.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#538 Improve delete
  pkg/landscaper/controllers/installations/reconcile_delete.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/deployers, priority/3

#537 Docu about new reconcile algorithm: add feedback
  docs/technical/execution_controller.md
  docs/technical/installation_controller.md
  pkg/landscaper/controllers/installations/controller.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#541 Fix nilpointer in execution controller
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/execution/classification.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#542 Fix computation of imports hash
  pkg/landscaper/dataobjects/target.go
  pkg/landscaper/dataobjects/targetlist.go
  pkg/landscaper/installations/imports/hash.go
  pkg/utils/hash/hash.go
  pkg/utils/hash/hash_suite_test.go
  pkg/utils/hash/hash_test.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/l, priority/3

#543 Integration test script with cluster creation
  .ci/int-test-helper/create-registry
  .ci/int-test-helper/create-shoot-cluster
  .ci/int-test-helper/delete-shoot-cluster
  .ci/int-test-helper/install-landscaper
  .ci/int-test-helper/install-missing-software
  .ci/int-test-helper/run-tests
  .ci/new-integration-test
  .ci/new-integration-test-with-cluster-creation
  hack/testcluster/app.go
  hack/testcluster/pkg/resources/shootcluster_template.yaml
  hack/testcluster/pkg/shootcluster_manager.go
  hack/testcluster/shootcluster.go
  hack/testcluster/shootcluster_create.go
  hack/testcluster/shootcluster_delete.go
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, area/testing, priority/3

#545 Improve logging for installations
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/logging.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/m, area/deployers, priority/3

#548 refactor FromContextOrNew method and move it to logging package
  controller-utils/pkg/logging/logger.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/logging.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#546 Logging of the execution controller
  controller-utils/pkg/logging/constants/constants.go
  go.mod
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
Labels: area/logging, kind/task, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#549 Improve Logging Framework
  controller-utils/pkg/logging/logger.go
  docs/development/logging.md
  pkg/landscaper/controllers/healthcheck/controller.go
  pkg/landscaper/controllers/installations/controller.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/deployers, priority/3

#550 enhance logging framework
  controller-utils/pkg/logging/logger.go
  docs/development/logging.md
  go.mod
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#551 Update deployer info in DI status
  pkg/deployer/lib/controller.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/deployers, priority/3

#547 Logging of the deployitem controller (timeout controller)
  pkg/landscaper/controllers/context/controller.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/deployitem/reconcile_new.go
Labels: area/logging, kind/task, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#553 remove logger from read_write_layer's Writer struct
  pkg/deployer/container/cleanup.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/mock/controller.go
  pkg/deployermanagement/controller/controller.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/context/controller.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/operation/operation.go
  pkg/utils/read_write_layer/logger.go
  pkg/utils/read_write_layer/write.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#552 improve logging in cmd package and agent
  cmd/container-deployer/container-deployer-controller/app/app.go
  cmd/container-deployer/container-deployer-init/app/app.go
  cmd/container-deployer/container-deployer-wait/app/app.go
  cmd/helm-deployer-controller/app/app.go
  cmd/landscaper-agent/app/app.go
  cmd/landscaper-controller/app/app.go
  cmd/landscaper-webhooks-server/app/app.go
  cmd/manifest-deployer-controller/app/app.go
  cmd/mock-deployer-controller/app/app.go
  controller-utils/pkg/logging/constants/constants.go
  controller-utils/pkg/logging/logger.go
  pkg/agent/add.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/deployer/lib/cmd/default.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#554 Improve logging for health checks and component overwrites
  pkg/landscaper/controllers/componentoverwrites/controller.go
  pkg/landscaper/controllers/healthcheck/controller.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/deployers, priority/3

#555 Improve logging for registry
  controller-utils/pkg/logging/constants/constants.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/controllers/installations/reconcile_test.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/landscaper/installations/context_test.go
  pkg/landscaper/installations/executions/executions_test.go
  pkg/landscaper/installations/executions/operation_test.go
  pkg/landscaper/installations/exports/constructor_test.go
  pkg/landscaper/installations/imports/conditional_imports_test.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/importexec_test.go
  pkg/landscaper/installations/reconcilehelper/outdated_test.go
  pkg/landscaper/installations/reconcilehelper/validation_test.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/registry/components/local.go
  pkg/landscaper/registry/components/manager.go
  pkg/utils/landscaper/installation_simulator_test.go
  test/landscaper/e2e/inlinecd_test.go
  test/landscaper/e2e/simple_test.go
  test/landscaper/landscaper_service_blueprints/landscaper_service_blueprint_test.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/deployers, priority/3

#539 automatically generate documentation index
  Makefile
  docs/README.md
  docs/api-reference/.docnames
  docs/concepts/.docnames
  docs/concepts/InstallationBlueprintRelationship.md
  docs/deployer/.docnames
  docs/deployer/README.md
  docs/development/.docnames
  docs/development/doc-index-generation.md
  docs/development/tutorials.md
  docs/gettingstarted/.docnames
  docs/gettingstarted/install-landscaper-controller.md
  docs/motivation/.docnames
  docs/motivation/motivation.md
  docs/technical/.docnames
  docs/technical/deployer_contract.md
  docs/tutorials/.docnames
  docs/tutorials/00-landscaper-installation.md
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/02-local-simple-blueprint.md
  docs/tutorials/03-simple-import.md
  docs/usage/.docnames
  docs/usage/AccessingBlueprints.md
  hack/generate-docs-index.sh
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, priority/5

#556 Improve logging for controller-utils
  cmd/landscaper-controller/app/app.go
  controller-utils/pkg/crdmanager/crdmanager.go
  controller-utils/pkg/kubernetes/kubernetes.go
  controller-utils/pkg/logging/constants/constants.go
  pkg/landscaper/crdmanager/crdmanager.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/crdmanager/crdmanager.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/kubernetes/kubernetes.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#559 update logging for deployermanagement
  cmd/landscaper-controller/app/app.go
  controller-utils/pkg/logging/constants/constants.go
  pkg/deployermanagement/config/deployment.go
  pkg/deployermanagement/controller/add.go
  pkg/deployermanagement/controller/controller.go
  pkg/deployermanagement/controller/deployer_management_delete.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#557 Improve logging of utils package
  cmd/container-deployer/container-deployer-wait/app/app.go
  cmd/landscaper-webhooks-server/app/app.go
  controller-utils/pkg/logging/constants/constants.go
  pkg/utils/webhook/add.go
  pkg/utils/webhook/webhook.go
  test/framework/dump.go
  test/framework/framework.go
  test/integration/suite_test.go
  test/utils/kubernetes.go
  test/utils/logger.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/deployers, priority/3

#561 add manifest deployer immutable policy
  apis/deployer/utils/managedresource/types.go
  docs/deployer/manifest.md
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/lib/resourcemanager/objectapplier_test.go
  pkg/deployer/manifest/manifest_suite_test.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/types.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/manifest-deployer, priority/3

#563 remove the check for an manifest/helm export to be a managed resource
  docs/deployer/helm.md
  docs/deployer/manifest.md
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/lib/resourcemanager/exporter.go
  pkg/deployer/lib/resourcemanager/exporter_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/deployers, priority/3

#562 Delete clusters in integration tests
  .ci/int-test-helper/create-shoot-cluster
  .ci/new-integration-test-with-cluster-creation
  Makefile
  hack/testcluster/cluster_create.go
  hack/testcluster/cluster_delete.go
  hack/testcluster/pkg/cluster.go
  hack/testcluster/pkg/registry.go
  hack/testcluster/pkg/shootcluster_manager.go
  hack/testcluster/registry_create.go
  hack/testcluster/registry_delete.go
  hack/testcluster/shootcluster_create.go
  hack/testcluster/shootcluster_delete.go
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/l, area/testing, priority/3

#565 update verbosity type in landscaper-service component
  .landscaper/landscaper-service/blueprint/landscaper/deploy-execution.yaml
  .landscaper/landscaper-service/definition/landscaper-configuration.json
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#566 Prepare integration tests without test machinery
  .ci/integration-test-new
  .ci/pipeline_definitions
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#568 Fix build
  .ci/integration-test-new
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#560 Refactor logging in deployers
  cmd/container-deployer/container-deployer-init/app/app.go
  cmd/container-deployer/container-deployer-wait/app/app.go
  cmd/helm-deployer-controller/app/app.go
  controller-utils/pkg/logging/constants/constants.go
  controller-utils/pkg/logging/logger.go
  pkg/deployer/container/add.go
  pkg/deployer/container/cleanup.go
  pkg/deployer/container/container.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/garbage_collector.go
  pkg/deployer/container/helper.go
  pkg/deployer/container/init/e2e_test.go
  pkg/deployer/container/init/init.go
  pkg/deployer/container/init/init_suite_test.go
  pkg/deployer/container/init/options.go
  pkg/deployer/container/reconciler_deployitem.go
  pkg/deployer/container/reconciler_pod.go
  pkg/deployer/container/state/state.go
  pkg/deployer/container/state/state_test.go
  pkg/deployer/container/test/e2e_test.go
  pkg/deployer/container/wait/sidecar.go
  pkg/deployer/container/wait/uploadexport.go
  pkg/deployer/container/wait/wait.go
  pkg/deployer/helm/add.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/continuousreconcile/extension.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/extension/hook.go
  pkg/deployer/lib/readinesscheck/customreadinesscheck.go
  pkg/deployer/lib/readinesscheck/customreadinesscheck_test.go
  pkg/deployer/lib/readinesscheck/defaultreadinesscheck.go
  pkg/deployer/lib/readinesscheck/readiness.go
  pkg/deployer/lib/resourcemanager/exporter.go
  pkg/deployer/lib/resourcemanager/exporter_test.go
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/lib/resourcemanager/objectapplier_test.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/add.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/test/e2e_test.go
  pkg/deployer/mock/add.go
  pkg/landscaper/controllers/deployitem/add.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/logger.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, needs/rebase, needs/changes, needs/review, needs/second-opinion, size/xl, priority/3

#569 New logging for helm, manifest and mock deployer
  controller-utils/pkg/logging/constants/constants.go
  pkg/deployer/container/add.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/garbage_collector.go
  pkg/deployer/helm/chartresolver/chart.go
  pkg/deployer/helm/chartresolver/chartresolver_suite_test.go
  pkg/deployer/helm/deployer.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/helm.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/helmchartrepo/helm_chart_repo_client.go
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
  pkg/deployer/lib/resourcemanager/exporter.go
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/manifest/controller.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/manifest.go
  pkg/deployer/manifest/manifest_suite_test.go
  pkg/deployer/mock/controller.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/logging/constants/constants.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/m, area/deployers, priority/3

#567 New int tests
  .ci/int-test
  .ci/int-test-helper/delete-shoot-cluster
  .ci/int-test-helper/install-landscaper
  .ci/int-test-helper/install-missing-software
  .ci/integration-test
  .ci/integration-test-new
  .ci/local-integration-test
  .ci/local-integration-test-with-cluster-creation
  .ci/new-integration-test
  .gitignore
  Makefile
  docs/development/testing.md
  hack/install-landscaper-for-integration-test.sh
  hack/integration-test.py
  hack/testcluster/cluster_create.go
  hack/testcluster/cluster_delete.go
  hack/testcluster/pkg/cluster.go
  hack/testcluster/pkg/registry.go
  hack/testcluster/pkg/resources/shootcluster_template.yaml
  hack/testcluster/pkg/shootcluster_manager.go
  hack/testcluster/pkg/utils/logger.go
  hack/testcluster/registry_create.go
  hack/testcluster/registry_delete.go
  hack/testcluster/shootcluster_create.go
  hack/testcluster/shootcluster_delete.go
  hack/utils.py
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
  pkg/utils/webhook/webhook.go
  test/framework/cleanup.go
  test/framework/dump.go
  test/framework/framework.go
  test/integration/core/registry.go
  test/integration/deployitems/timeouts.go
  test/integration/suite_test.go
  test/integration/webhook/webhook.go
  test/utils/envtest/environment.go
  test/utils/envtest/fake_client.go
  test/utils/envtest/state.go
  test/utils/kubernetes.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, area/testing, priority/3

#571 Manifest deployer Update tutorial
  docs/gettingstarted/manifest-deployer-tutorial/README.md
  docs/gettingstarted/manifest-deployer-tutorial/component-archive/blueprint/deploy-execution.yaml
  docs/gettingstarted/manifest-deployer-tutorial/component-descriptor.yaml
  docs/gettingstarted/manifest-deployer-tutorial/hello/Dockerfile
  docs/gettingstarted/manifest-deployer-tutorial/hello/index.html
  docs/gettingstarted/manifest-deployer-tutorial/manifests/installation.yaml
  docs/gettingstarted/manifest-deployer-tutorial/manifests/my-deployment.yaml
  docs/gettingstarted/manifest-deployer-tutorial/update-application.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, reviewed/do-not-merge, size/m, priority/3

#574 Fix update of target import
  pkg/landscaper/dataobjects/target.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/operation_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#575 Trigger int tests in PR
  .ci/int-test
  .ci/int-test-helper/create-shoot-cluster
  .ci/integration-test
  .ci/integration-test-new
  .ci/local-integration-test-with-cluster-creation
  Makefile
  docs/development/testing.md
  hack/integration-test.py
  hack/testcluster/pkg/resources/shootcluster_template.yaml
  hack/testcluster/pkg/shootcluster_manager.go
  hack/testcluster/shootcluster_create.go
  hack/testcluster/shootcluster_delete.go
  test/integration/webhook/webhook.go
  test/utils/kubernetes.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/m, priority/3
