Repository gardener/landscaper, pull requests merged in 2022-02, with the labels that each got.

#406 Fix reconcile logic
  apis/core/types_execution.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  charts/container-deployer/Chart.yaml
  charts/helm-deployer/Chart.yaml
  charts/landscaper-agent/Chart.yaml
  charts/landscaper/Chart.yaml
  charts/landscaper/charts/landscaper/Chart.yaml
  charts/landscaper/charts/rbac/Chart.yaml
  charts/manifest-deployer/Chart.yaml
  charts/mock-deployer/Chart.yaml
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/execution/reconcile_test.go
  pkg/landscaper/execution/testdata/state/test2/00-execution.yaml
  pkg/landscaper/execution/testdata/state/test5/00-execution.yaml
  test/integration/executions/generations.go
  test/integration/executions/register.go
  test/integration/executions/testdata/test1/00-execution.yaml
  test/integration/suite_test.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/robustness, kind/bug, kind/api-change, kind/test, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#395 Prepare gardener
  pkg/landscaper/installations/imports/helper.go
  pkg/landscaper/installations/imports/validation.go
  pkg/landscaper/installations/imports/validation_test.go
Labels: area/robustness, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#407 adapt issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement_request.md
  .github/ISSUE_TEMPLATE/support.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#415 remove helm chart tgz remote access from docu
  docs/deployer/helm.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#412 Ignore annotation and operation annotation improvements
  apis/core/v1alpha1/constants.go
  apis/core/v1alpha1/helper/helpers.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  docs/README.md
  docs/usage/Annotations.md
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/utils.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/installations/subinstallations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
Labels: area/usability, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/m, priority/2
