Repository gardener/landscaper, pull requests merged in 2022-03, with the labels that each got.

#429 Nit: Fix a typo
  pkg/deployer/container/add.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#434 Fix manifest deployer phase
  pkg/deployer/manifest/ensure.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, area/manifest-deployer, priority/3

#435 make setup-envtest working on darwin/arm64
  hack/setup-testenv.sh
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#436 reference context takes an explicit repository context used for reference resolving
  pkg/landscaper/installations/operation.go
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/jsonschema/reference.go
  pkg/landscaper/jsonschema/testdata/registry/ref-1/blobs/schema/schema.json
  pkg/landscaper/jsonschema/testdata/registry/ref-1/component-descriptor.yaml
  pkg/landscaper/jsonschema/testdata/registry/ref-2/blobs/schema/schema.json
  pkg/landscaper/jsonschema/testdata/registry/ref-2/component-descriptor.yaml
  pkg/landscaper/jsonschema/testdata/registry/root/component-descriptor.yaml
  pkg/landscaper/registry/components/cdutils/uri.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#413 order subinstallations by dependencies
  apis/core/types_shared.go
  apis/core/v1alpha1/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  pkg/landscaper/installations/subinstallations/helper.go
  pkg/landscaper/installations/subinstallations/helper_test.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/cyclicdependencies.go
  pkg/utils/cyclicdependencies_test.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl, priority/2

#438 fix regression with annotations on the same level as references in JSON schemas
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/jsonschema/reference.go
Labels: area/usability, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#437 fix installation of test OCI registry on darwin/arm64
  hack/install-requirements.sh
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#432 better error messages in template executors
  pkg/landscaper/installations/executions/template/gotemplate/gotemplate.go
  pkg/landscaper/installations/executions/template/gotemplate/helper.go
  pkg/landscaper/installations/executions/template/gotemplate/novalue_error.go
  pkg/landscaper/installations/executions/template/gotemplate/template_error.go
  pkg/landscaper/installations/executions/template/inputformatter.go
  pkg/landscaper/installations/executions/template/inputformatter_test.go
  pkg/landscaper/installations/executions/template/spiff/error.go
  pkg/landscaper/installations/executions/template/spiff/spifftemplate.go
  pkg/landscaper/installations/executions/template/template_test.go
  pkg/landscaper/installations/executions/template/testdata/gotemplate/template-09.yaml
  pkg/landscaper/installations/executions/template/testdata/gotemplate/template-22.yaml
  pkg/landscaper/installations/executions/template/testdata/gotemplate/template-23.yaml
  pkg/landscaper/installations/executions/template/testdata/gotemplate/template-24.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/template-22.yaml
  pkg/utils/landscaper/blueprint.go
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/landscaper-configuration/schema.json
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/registry-configuration/schema.json
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#441 usage of correct repository context
  pkg/deployer/container/init/init.go
  pkg/landscaper/installations/builder.go
  pkg/landscaper/installations/executions/executions_suite_test.go
  pkg/landscaper/installations/executions/operation_test.go
  pkg/landscaper/installations/executions/testdata/registry/root/blobs/root-1/blueprint.yaml
  pkg/landscaper/installations/executions/testdata/registry/root/blobs/root-1/deploy-execution.yaml
  pkg/landscaper/installations/executions/testdata/registry/root/component-descriptor.yaml
  pkg/landscaper/installations/executions/testdata/state/test1/00-root.yaml
  pkg/landscaper/installations/executions/testdata/template-01.yaml
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/helper.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/landscaper/installations/subinstallations/testdata/registry/external/blobs/def-1/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/external/component-descriptor.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/def-1/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/def-2/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/root-1/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/root-2/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/root-3/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/root-4/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/root-5/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/blobs/root-6/blueprint.yaml
  pkg/landscaper/installations/subinstallations/testdata/registry/root/component-descriptor.yaml
  pkg/landscaper/installations/subinstallations/testdata/state/test11/00-root.yaml
  pkg/landscaper/jsonschema/reference.go
  pkg/landscaper/registry/components/cdutils/uri.go
  pkg/landscaper/registry/components/cdutils/uri_test.go
  pkg/landscaper/registry/components/cdutils/utils.go
  pkg/utils/landscaper/blueprint.go
  test/landscaper/landscaper_service_blueprints/landscaper_service_blueprint_test.go
  test/landscaper/landscaper_service_blueprints/testdata/imports-installation.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-landscaper.yaml
  test/landscaper/landscaper_service_blueprints/testdata/imports-rbac.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/landscaper-blueprint/blueprint.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/blobs/rbac-blueprint/blueprint.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper-service/component-descriptor.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/landscaper/component-descriptor.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/virtual-garden/blobs/blueprint/blueprint.yaml
  test/landscaper/landscaper_service_blueprints/testdata/registry/virtual-garden/component-descriptor.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#444 Update version of nginx helm chart in first example
  docs/level_0/first_example_component.md
  docs/level_0/first_example_installation.md
  docs/level_0/resources/blueprint/deploy-execution-nginx.yaml
  docs/level_0/resources/component-descriptor.yaml
  docs/level_0/resources/installation.yaml
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#446 Update chart version for integration tests and tutorials
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/04-aggregated-blueprint.md
  docs/tutorials/resources/aggregated/blueprint/blueprint.yaml
  docs/tutorials/resources/aggregated/component-descriptor.yaml
  docs/tutorials/resources/aggregated/installation.yaml
  docs/tutorials/resources/ingress-nginx/blueprint/blueprint.yaml
  docs/tutorials/resources/ingress-nginx/component-descriptor.yaml
  docs/tutorials/resources/ingress-nginx/installation.yaml
  docs/tutorials/resources/local-ingress-nginx/blueprint/blueprint.yaml
  docs/tutorials/resources/local-ingress-nginx/component-descriptor.yaml
  docs/tutorials/resources/local-ingress-nginx/installation.yaml
  pkg/deployer/helm/ensure.go
Labels: kind/test, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, area/testing, priority/3

#448 Integration test for a helm chart upgrade
  docs/tutorials/resources/ingress-nginx-upgrade/README.md
  docs/tutorials/resources/ingress-nginx-upgrade/component-descriptor.yaml
  docs/tutorials/resources/ingress-nginx-upgrade/installation.yaml
  test/integration/tutorial/ingress-nginx.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/m, area/helm-deployer, priority/3

#447 helm 3 as default
  .landscaper/container-deployer/blueprint/blueprint.yaml
  .landscaper/helm-deployer/blueprint/blueprint.yaml
  .landscaper/manifest-deployer/blueprint/blueprint.yaml
  .landscaper/mock-deployer/blueprint/blueprint.yaml
  apis/.schemes/helm-v1alpha1-ProviderConfiguration.json
  apis/deployer/helm/types_provider.go
  apis/deployer/helm/v1alpha1/types_provider.go
  apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  apis/deployer/helm/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  docs/deployer/helm.md
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/test/e2e_test.go
  test/landscaper/deployer_blueprints/deployer_blueprint_test.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/s, area/deployers, priority/3

#450 Integrationtest version check
  test/integration/deployers/helmcharts/chartstests.go
  test/integration/deployers/register.go
  test/integration/suite_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/testing, priority/3

#452 fixed the calculation of the line prefix width
  pkg/landscaper/installations/executions/template/gotemplate/gotemplate_suite_test.go
  pkg/landscaper/installations/executions/template/gotemplate/helper.go
  pkg/landscaper/installations/executions/template/gotemplate/helper_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3
