Repository gardener/landscaper, pull requests merged in 2022-10, with the labels that each got.

#611 Unit tests to check dependencies between DeployItems
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/controllers/execution/testdata/test2/00-execution.yaml
  pkg/landscaper/controllers/execution/testdata/test2/10-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test2/20-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test2/30-deploy-item.yaml
  pkg/landscaper/execution/classification_test.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/l, area/testing, priority/3

#612 New call for ginko
  .ci/int-test-helper/install-missing-software
  .ci/int-test-helper/run-tests
  test/utils/envtest/state.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/testing, priority/3

#615 Further Tests
  pkg/landscaper/controllers/installations/controller_test.go
  pkg/landscaper/controllers/installations/testdata/state/test6/00-root.yaml
  pkg/landscaper/controllers/installations/testdata/state/test7/00-root.yaml
  pkg/landscaper/controllers/installations/testdata/state/test7/10-exec.yaml
  pkg/landscaper/controllers/installations/testdata/state/test7/10-subinst.yaml
  test/integration/targets/targets.go
  test/integration/testdata/targets/component-target-exporter-root/blueprint/blueprint.yaml
  test/integration/testdata/targets/component-target-exporter-root/blueprint/export-execution.yaml
  test/integration/testdata/targets/component-target-exporter-root/blueprint/subinstallation-1.yaml
  test/integration/testdata/targets/component-target-exporter-root/commands/create-and-push-component.sh
  test/integration/testdata/targets/component-target-exporter-root/component-descriptor.yaml
  test/integration/testdata/targets/component-target-exporter-root/resources.yaml
  test/integration/testdata/targets/installation-target-exporter-root/import-do-kubeconfig-1.yaml
  test/integration/testdata/targets/installation-target-exporter-root/import-do-kubeconfig-2.yaml
  test/integration/testdata/targets/installation-target-exporter-root/installation.yaml
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/l, area/testing, priority/3

#609 Helm deployer Int Test
  test/integration/deployers/helmdeployer/helm_deployer_tests.go
  test/integration/deployers/helmdeployer/register.go
  test/integration/deployers/helmdeployer/testdata/01/chart/Chart.yaml
  test/integration/deployers/helmdeployer/testdata/01/chart/templates/configmap.yaml
  test/integration/deployers/helmdeployer/testdata/01/chart/values.yaml
  test/integration/deployers/helmdeployer/testdata/01/installation.yaml
  test/integration/deployers/helmdeployer/testdata/01_updated/chart/Chart.yaml
  test/integration/deployers/helmdeployer/testdata/01_updated/chart/templates/configmap.yaml
  test/integration/deployers/helmdeployer/testdata/01_updated/chart/values.yaml
  test/integration/deployers/helmdeployer/testdata/01_updated/installation.yaml
  test/integration/deployers/helmdeployer/testdata/02_export/chart/Chart.yaml
  test/integration/deployers/helmdeployer/testdata/02_export/chart/templates/configmap.yaml
  test/integration/deployers/helmdeployer/testdata/02_export/chart/values.yaml
  test/integration/deployers/helmdeployer/testdata/02_export/installation.yaml
  test/integration/deployers/register.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/xl, area/helm-deployer

#616 Fix readiness check helm deployer
  pkg/deployer/helm/ensure.go
  pkg/deployer/lib/readinesscheck/customreadinesscheck.go
  pkg/deployer/lib/readinesscheck/defaultreadinesscheck.go
  pkg/deployer/lib/readinesscheck/readiness.go
  pkg/deployer/manifest/ensure.go
  test/integration/deployers/helmdeployer/helm_deployer_tests.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, area/helm-deployer, priority/3

#618 Refactor target
  apis/core/types_target.go
  apis/core/v1alpha1/types_target.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_target.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/technical/target_types.md
  go.mod
  pkg/agent/agent.go
  pkg/deployer/helm/helm.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/manifest.go
  pkg/deployermanagement/controller/controller.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_environments.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_targets.yaml
  pkg/utils/builders.go
  test/utils/resources.go
  vendor/github.com/gardener/landscaper/apis/core/types_target.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, area/deployers, priority/3

#620 Context secretrefs
  apis/core/types_shared.go
  apis/core/v1alpha1/types_shared.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/deployer/helm/types_provider.go
  apis/deployer/helm/v1alpha1/types_provider.go
  apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  apis/deployer/helm/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/deployer/helm.md
  pkg/deployer/helm/deployer.go
  pkg/deployer/helm/helm.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/helmchartrepo/helm_chart_repo_client.go
  pkg/deployer/helm/helmchartrepo/helm_chart_repo_client_test.go
  pkg/deployer/helm/helmchartrepo/helm_chart_repo_suite_test.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
Labels: kind/task, needs/ok-to-test, reviewed/lgtm, size/xl, area/helm-deployer, priority/3

#622 Handling of unfinished subobjects
  apis/core/types_shared.go
  apis/core/v1alpha1/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/s, priority/3

#624 add new manifest deployer update strategies
  apis/deployer/manifest/types_provider.go
  apis/deployer/manifest/v1alpha2/types_provider.go
  docs/deployer/manifest.md
  go.mod
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/lib/resourcemanager/objectapplier_test.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/types_provider.go
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/l, area/manifest-deployer, priority/3

#626 make integration tests more robust (run-int-tests)
  test/integration/rootinstallations/rootinstallations.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/2

#623 add message to '.Error()' output for LsError
  apis/errors/error.go
  vendor/github.com/gardener/landscaper/apis/errors/error.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#625 update testenv kubernetes version to 1.24.x
  hack/setup-testenv.sh
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#627 add 'annotateBeforeDelete' and 'annotateBeforeCreate' to the manifest deployer
  apis/.schemes/manifest-v1alpha2-ProviderConfiguration.json
  apis/deployer/manifest/types_provider.go
  apis/deployer/manifest/v1alpha2/conversions.go
  apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  apis/deployer/manifest/zz_generated.deepcopy.go
  apis/deployer/utils/managedresource/types.go
  apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  docs/deployer/manifest.md
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/misc_test.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/conversions.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/types.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, area/manifest-deployer, priority/3

#630 fix the continuous custom readiness check
  pkg/deployer/lib/readinesscheck/customreadinesscheck.go
  pkg/deployer/lib/readinesscheck/customreadinesscheck_test.go
  pkg/deployer/lib/readinesscheck/defaultreadinesscheck.go
  pkg/deployer/lib/readinesscheck/readiness.go
  pkg/deployer/lib/readinesscheck/testdata/04-configmap.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, area/deployers, priority/3
