Repository gardener/landscaper, pull requests merged in 2022-04, with the labels that each got.

#453 Delete without uninstall
  apis/core/v1alpha1/constants.go
  apis/core/v1alpha1/helper/helpers.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  docs/usage/Annotations.md
  pkg/deployer/lib/controller.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/delete_test.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/testdata/state/test6/00-execution.yaml
  pkg/landscaper/execution/testdata/state/test6/10-deploy-item.yaml
  pkg/landscaper/execution/testdata/state/test6/20-deploy-item.yaml
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, priority/3

#455 Read/Write layer
  pkg/deployer/container/cleanup.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/garbage_collector.go
  pkg/deployer/container/helper.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/mock/controller.go
  pkg/deployermanagement/controller/controller.go
  pkg/deployermanagement/controller/deployer_management_delete.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/gc.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/context.go
  pkg/landscaper/installations/executions/complete.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/imports/helper.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/landscaper/landscaper.go
  pkg/utils/read_write_layer/read.go
  pkg/utils/read_write_layer/write.go
Labels: kind/enhancement, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/l, priority/3, area/operations

#458 Write ids
  pkg/deployer/container/cleanup.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/mock/controller.go
  pkg/deployermanagement/controller/deployer_management_delete.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/gc.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/read_write_layer/consts.go
  pkg/utils/read_write_layer/write.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#460 Log update history
  pkg/deployer/container/cleanup.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/mock/controller.go
  pkg/deployermanagement/controller/deployer_management_delete.go
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/gc.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/operation/operation.go
  pkg/utils/read_write_layer/consts.go
  pkg/utils/read_write_layer/logger.go
  pkg/utils/read_write_layer/write.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3

#463 Adapt installation docu
  docs/gettingstarted/install-landscaper-controller.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/s, priority/3

#462 Fix execution reconcile
  apis/errors/error.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/execution/delete.go
  pkg/landscaper/execution/delete_test.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/execution/reconcile_test.go
  vendor/github.com/gardener/landscaper/apis/errors/error.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#466 Fix values provisioning in helm deployment
  pkg/deployer/helm/deployer.go
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/helm-deployer, priority/3

#468 Prevent parallel updates in integration tests
  test/integration/installations/phase-propagation.go
Labels: area/quality, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#470 handle the maximum length restriction for deployer registrations intstallation names more gracefully
  .landscaper/landscaper-service/blueprint/landscaper/deploy-execution.yaml
  apis/core/types_deployer_registration.go
  apis/core/v1alpha1/types_deployer_registration.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  charts/landscaper/charts/landscaper/templates/_helpers.tpl
  charts/landscaper/charts/landscaper/values.yaml
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_deployer_registration.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployer_registration.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  pkg/deployermanagement/controller/deployer_management_reconcile.go
  pkg/deployermanagement/controller/deployer_management_test.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployerregistrations.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_deployer_registration.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployer_registration.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: needs/ok-to-test

#471 Fix and refactor deployer reconciliation
  apis/errors/error.go
  pkg/deployer/container/container_suite_test.go
  pkg/deployer/container/reconciler_pod.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/error.go
  pkg/deployer/lib/extension/hook.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/dataobjects/target.go
  pkg/utils/uncached_client.go
  vendor/github.com/gardener/landscaper/apis/errors/error.go
Labels: needs/ok-to-test

#473 Remove reconcile timestamp annotation earlier
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/utils.go
  pkg/utils/read_write_layer/consts.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#476 improve context docu
  docs/usage/Context.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/m, priority/3

#477 fix inheritance of context in subinstallations
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/landscaper/installations/subinstallations/testdata/state/test12/00-root.yaml
  pkg/landscaper/installations/subinstallations/testdata/state/test12/01-context.yaml
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3
