Repository gardener/landscaper, pull requests merged in 2022-09, with the labels that each got.

#578 Upload test results to release
  .ci/integration-test
  .ci/pipeline_definitions
  .ci/update_release.py
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/testing, priority/3

#579 handle missing schema key in data imports gracefully
  pkg/landscaper/installations/imports/constructor.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/testdata/state/test12/00-j.yaml
  pkg/landscaper/installations/testdata/registry/blobs/j/blueprint.yaml
  pkg/landscaper/installations/testdata/registry/component-descriptor.yaml
Labels: area/robustness, kind/bug, needs/ok-to-test, needs/review, size/s, priority/3

#581 Feature coverage of integration tests
  docs/proposals/feature-coverage.md
Labels: kind/discussion, needs/ok-to-test, reviewed/lgtm, size/m, area/testing, priority/3

#583 make the landscaper deployments container name configurable
  .landscaper/landscaper-service/blueprint/landscaper/deploy-execution.yaml
  charts/landscaper/charts/landscaper/templates/_helpers.tpl
  charts/landscaper/charts/landscaper/templates/deployment-controller.yaml
  charts/landscaper/charts/landscaper/templates/deployment-webhooks.yaml
  charts/landscaper/charts/landscaper/values.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#588 update virtual-garden to v0.9.0
  .landscaper/landscaper-service/component-references.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#586 Fix naming mistake in logging
  pkg/deployer/helm/helm.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, area/helm-deployer, priority/4

#590 Handle webhook errors
  apis/core/types_shared.go
  apis/core/v1alpha1/types_shared.go
  apis/errors/error.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/utils/lserrors.go
  pkg/utils/read_write_layer/write.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/errors/error.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/deployers, priority/3

#592 Integrationtest framework: cleanup validating webhook configs
  test/framework/framework.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing, priority/3

#597 update virtual-garden component to v0.10.0
  .landscaper/landscaper-service/component-references.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3, area/operations

#595 Delete installations and cleanup
  Makefile
  apis/core/types_execution.go
  apis/core/types_installation.go
  apis/core/v1alpha1/constants.go
  apis/core/v1alpha1/health/health.go
  apis/core/v1alpha1/helper/helpers.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/errors/error.go
  apis/errors/error_test.go
  apis/mediatype/constants.go
  apis/mediatype/mediatype.go
  apis/mediatype/mediatypes_test.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  docs/api-reference/core.md
  docs/technical/images/installation-phases.drawio.png
  docs/technical/installation_controller.md
  go.mod
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/reconcilehelper/reconcilehelper.go
  pkg/landscaper/installations/reconcilehelper/validation_test.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/utils/landscaper/landscaper.go
  pkg/utils/read_write_layer/write.go
  test/framework/dump.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/health/health.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/errors/error.go
  vendor/github.com/gardener/landscaper/apis/mediatype/constants.go
  vendor/github.com/gardener/landscaper/apis/mediatype/mediatype.go
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, area/deployers, priority/3

#599 update container deployer integration tests
  test/integration/deployers/container/containertests.go
  test/integration/deployers/container_tests.go
  test/integration/deployers/register.go
  test/integration/suite_test.go
  test/integration/testdata/container-deployer/Docker/Dockerfile
  test/integration/testdata/container-deployer/container-1/blueprint/blueprint.yaml
  test/integration/testdata/container-deployer/container-1/blueprint/deploy-execution.yaml
  test/integration/testdata/container-deployer/container-1/blueprint/export-execution.yaml
  test/integration/testdata/container-deployer/container-1/blueprint/script.py
  test/integration/testdata/container-deployer/container-1/component-descriptor.yaml
  test/integration/testdata/container-deployer/container-1/resources.yaml
  test/integration/testdata/container-deployer/installation-1/import-do-data.yaml
  test/integration/testdata/container-deployer/installation-1/import-do-name.yaml
  test/integration/testdata/container-deployer/installation-1/import-do-namespace.yaml
  test/integration/testdata/container-deployer/installation-1/installation.yaml
  test/integration/testdata/hack/create-and-push-image.sh
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, area/container-deployer, priority/3

#601 Improve test performance
  pkg/deployer/container/container_suite_test.go
  pkg/deployer/container/garbage_collector_test.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/utils/landscaper/landscaper.go
  test/integration/deployers/management/dm_tests.go
  test/utils/controller.go
  test/utils/envtest/state.go
  test/utils/kubernetes.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/testing, priority/3

#602 fix local integration tests
  .ci/int-test-helper/create-registry
  .ci/int-test-helper/install-landscaper
  .ci/int-test-helper/run-tests
  .ci/local-integration-test-pure
  .test-defs/create-registry.yaml
  Makefile
  hack/testcluster/pkg/registry.go
  hack/testcluster/registry_create.go
  test/framework/framework.go
  test/integration/suite_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/testing, priority/3

#605 install jq for integration tests
  .ci/int-test-helper/install-missing-software
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, area/testing, priority/3

#606 update manifest deployer tests
  docs/deployer/manifest.md
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/export_test.go
  pkg/deployer/manifest/manifest_suite_test.go
  pkg/deployer/manifest/misc_test.go
  pkg/deployer/manifest/policy_test.go
  pkg/deployer/manifest/readiness_check_test.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm, size/xl, area/manifest-deployer, priority/3

#610 update golang version to 1.19
  .ci/next_version
  .ci/release
  Dockerfile
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3
