Repository gardener/landscaper, pull requests merged in 2022-12, with the labels that each got.

#649 some typos, structural changes
  docs/guided-tour/README.md
  docs/guided-tour/basics/upgrade/README.md
  docs/guided-tour/hello-world/README.md
Labels: needs/ok-to-test, needs/review, size/s

#648 Retrying Installations
  apis/core/types_installation.go
  apis/core/v1alpha1/constants.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/guided-tour/hello-world/README.md
  docs/usage/Installations.md
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/controller_test.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete_test.go
  pkg/landscaper/controllers/installations/retry_helper.go
  pkg/landscaper/controllers/installations/retry_helper_test.go
  pkg/landscaper/controllers/installations/testdata/state/test9/00-root.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  test/landscaper/e2e/inlinecd_test.go
  test/landscaper/e2e/simple_test.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, priority/3, area/operations

#646 enhance and document TargetList imports
  apis/core/v1alpha1/helper/dataobjects.go
  apis/core/v1alpha1/types_dataobject.go
  apis/core/v1alpha1/types_target.go
  apis/core/validation/blueprint.go
  apis/core/validation/blueprint_test.go
  apis/core/validation/helper.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_dataobject.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target.go
  docs/usage/Blueprints.md
  docs/usage/TargetLists.md
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_targets.yaml
  pkg/landscaper/dataobjects/dataobject.go
  pkg/landscaper/dataobjects/target.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/operation.go
  test/integration/installations/import-export.go
  test/integration/installations/testdata/test1/00-root-installation.yaml
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/dataobjects.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_dataobject.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target.go
  vendor/github.com/gardener/landscaper/apis/core/validation/blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/validation/helper.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, priority/3

#651 Rename retry
  apis/core/types_installation.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/usage/Installations.md
  pkg/landscaper/controllers/installations/retry_helper.go
  pkg/landscaper/controllers/installations/retry_helper_test.go
  pkg/landscaper/controllers/installations/testdata/state/test9/00-root.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  test/landscaper/landscaper_service_blueprints/landscaper_service_blueprint_test.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#654 Sync target to garden project
  apis/core/types_target_sync.go
  apis/core/v1alpha1/types_target_sync.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_target_sync.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target_sync.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  docs/README.md
  docs/api-reference/core.md
  docs/usage/TargetSyncs.md
  pkg/landscaper/controllers/targetsync/targetsync_controller.go
  pkg/landscaper/controllers/targetsync/targetsync_controller_test.go
  pkg/landscaper/controllers/targetsync/testdata/state/test1/target-sync.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_targetsyncs.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_target_sync.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target_sync.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/m, area/deployers, priority/3

#652 Avoid delete timeouts due to exponential back-off
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/controller.go
  pkg/deployer/manifest/test/e2e_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#656 Workaround for setup-envtest
  Makefile
Labels: area/robustness, kind/bug, needs/ok-to-test, needs/review, size/xs, priority/3

#655 Unrecoverable Errors
  pkg/deployer/helm/helm.go
  pkg/deployer/helm/helmchartrepo/helm_chart_repo_client.go
  pkg/deployer/helm/helmchartrepo/helm_chart_repo_client_test.go
Labels: area/robustness, kind/task, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#657 Revert "Workaround for setup-envtest"
  Makefile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#659 check that docs index is up-to-date during verify
  Makefile
  hack/generate-docs-index.sh
  hack/install-requirements.sh
  hack/verify-docs-index.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, priority/3

#658 Enable spiff templating for inline text
  apis/.schemes/core-v1alpha1-Blueprint.json
  apis/core/types_blueprint.go
  apis/core/v1alpha1/types_blueprint.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_blueprint.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_blueprint.go
  docs/api-reference/core.md
  docs/usage/Templating.md
  pkg/landscaper/installations/executions/template/spiff/spifftemplate.go
  pkg/landscaper/installations/executions/template/template_test.go
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-01.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-02.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-03.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-04.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-05.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-06.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-07.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-08.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-09.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-10.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-11.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-12.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-13.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-20.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-21.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/text/template-22.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-01.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-02.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-03.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-04.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-05.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-06.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-07.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-08.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-09.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-10.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-11.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-12.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-13.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-20.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-21.yaml
  pkg/landscaper/installations/executions/template/testdata/spifftemplate/yaml/template-22.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_blueprint.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, priority/5
