Repository gardener/landscaper, pull requests merged in 2023-08, with the labels that each got.

#798 Fix container deployer
  hack/testcluster/pkg/utils/wrapper.go
  pkg/deployer/container/add.go
  pkg/deployer/container/helper.go
  pkg/deployer/container/reconciler_pod.go
  pkg/utils/meta_data.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/m, area/container-deployer, priority/3

#804 add more documentation on how to configure the global deploy item timeout
  docs/deployer/container.md
  docs/deployer/helm.md
  docs/deployer/manifest.md
  docs/guided-tour/error-handling/timeout-error/README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, priority/3

#803 Use new webhook library for landscaper webhooks server
  charts/landscaper/charts/landscaper/templates/deployment-webhooks.yaml
  cmd/landscaper-webhooks-server/app/app.go
  cmd/landscaper-webhooks-server/app/options.go
  pkg/utils/webhook/add.go
  pkg/utils/webhook/utils.go
  pkg/utils/webhook/webhook.go
  pkg/utils/webhook/webhook_suite_test.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, priority/3

#781 LsHealthCheck monitoring independent of Landscaper Agent and Deploymer Management
  apis/.schemes/config-v1alpha1-LandscaperConfiguration.json
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/config/v1alpha1/zz_generated.deepcopy.go
  apis/config/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  charts/landscaper/charts/landscaper/templates/_helpers.tpl
  charts/landscaper/charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
  pkg/landscaper/controllers/healthcheck/add.go
  pkg/landscaper/controllers/healthcheck/controller.go
  pkg/landscaper/controllers/healthcheck/reconcile_test.go
  pkg/landscaper/controllers/healthcheck/testdata/test1/deployments.yaml
  vendor/github.com/gardener/landscaper/apis/config/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/types_landscaper_config.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/config/zz_generated.deepcopy.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, priority/3

#805 New gardenlinux for test cluster
  hack/testcluster/pkg/resources/shootcluster_template.yaml
Labels: kind/test, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#806 add MergeMaps function to controller-utils library
  controller-utils/pkg/utils/utils.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, priority/3

#808 enforce KeyResource values to be of type string
  pkg/deployer/container/garbage_collector.go
  pkg/utils/monitoring/monitor.go
Labels: area/logging, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, priority/3
