Repository gardener/landscaper, pull requests merged in 2023-06, with the labels that each got.

#754 Log as info if an installation was changed during processing
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/utils/loghelper.go
Labels: area/logging, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#757 Readiness Checks of the Helm Deployer for StatefulSets and Deployments
  pkg/deployer/lib/readinesscheck/defaultreadinesscheck.go
  pkg/deployer/lib/readinesscheck/defaultreadinesscheck_test.go
  test/integration/deployers/blueprints/blueprints_tests.go
  test/utils/kubernetes_status.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#760 readiness checks retry on kubernetes client errors
  pkg/deployer/lib/readinesscheck/customreadinesscheck.go
  pkg/deployer/lib/readinesscheck/readiness.go
  pkg/deployer/lib/readinesscheck/readiness_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/m, priority/3

#759 Fix component descriptor
  .ci/component_descriptor
  .landscaper/component-references.yaml
  test/integration/deployers/management/dm_tests.go
Labels: area/delivery, kind/bug, needs/ok-to-test, needs/review, size/xs, priority/3

#762 Upgrade machine image
  hack/testcluster/pkg/resources/shootcluster_template.yaml
Labels: kind/test, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#761 unblock helm releases stuck in a pending state
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/realhelmdeployer/cached_discovery_client.go
  pkg/deployer/helm/realhelmdeployer/client_config_getter.go
  pkg/deployer/helm/realhelmdeployer/deploy_config.go
  pkg/deployer/helm/realhelmdeployer/helm_secret.go
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
  pkg/deployer/helm/realhelmdeployer/remote_rest_client_getter.go
  pkg/deployer/helm/testdata/testchart4/Chart.yaml
  pkg/deployer/helm/testdata/testchart4/templates/secret.yaml
  pkg/deployer/helm/testdata/testchart4/values.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, size/l, area/helm-deployer, priority/3

#765 Change secret for int test clusters
  hack/testcluster/pkg/resources/shootcluster_template.yaml
Labels: kind/test, needs/ok-to-test, needs/review, size/xs, area/testing, priority/3

#766 Compress Executions
  apis/core/types_execution.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/types_execution_test.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  apis/utils/gzip.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/utils/gzip.go
  controller-utils/vendor/modules.txt
  docs/api-reference/core.md
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/utils/gzip.go
  vendor/modules.txt
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, priority/3

#768 Proposal for improved Helm-Manifest-Deployer
  docs/proposals/helm-manifest-deployer-ordering.md
Labels: kind/discussion, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/m, area/deployers, priority/3
