Repository gardener/landscaper, pull requests merged in 2023-10, with the labels that each got.

#834 Obsolete field for registry pull secrets in installations
  apis/core/types_deployitem.go
  apis/core/types_execution.go
  apis/core/types_installation.go
  apis/core/v1alpha1/conversion.go
  apis/core/v1alpha1/types_deployitem.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/validation/installation.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/proposals/feature-coverage.md
  examples/30-Example-Installation.yaml
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/helm/helm.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployitems.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/validation/installation.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/robustness, kind/task, needs/ok-to-test, needs/review, needs/second-opinion, size/l, priority/3

#841 Bugfixes
  pkg/landscaper/installations/executions/template/inputformatter.go
  pkg/landscaper/installations/exports/constructor.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/xs, priority/3

#851 Stabilise integration tests
  pkg/deployer/container/garbage_collector_test.go
  pkg/utils/uncached_client.go
  test/framework/framework.go
  test/utils/envtest/environment.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/testing, priority/3

#852 move targetresolver to controller-utils package
  controller-utils/pkg/landscaper/references.go
  controller-utils/pkg/landscaper/targetresolver/secret/secretrefresolver.go
  controller-utils/pkg/landscaper/targetresolver/targetresolver.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/targettypes/kubernetes_cluster.go
  controller-utils/vendor/modules.txt
  pkg/components/ocmlib/ocm_test.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/export_test.go
  pkg/deployer/manifest/misc_test.go
  pkg/deployer/manifest/policy_test.go
  pkg/deployer/manifest/readiness_check_test.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/executions/template/gotemplate/funcs.go
  pkg/landscaper/installations/executions/template/gotemplate/gotemplate.go
  pkg/landscaper/installations/executions/template/spiff/funcs.go
  pkg/landscaper/installations/executions/template/spiff/spifftemplate.go
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/imports/constructor.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/clusters/shoot_client.go
  pkg/utils/clusters/shoot_kubeconfigs.go
  pkg/utils/clusters/token_client.go
  pkg/utils/utils_suite_test.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/landscaper/references.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/landscaper/targetresolver/secret/secretrefresolver.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/landscaper/targetresolver/targetresolver.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, priority/3

#858 make int tests more stable
  hack/testcluster/pkg/shootcluster_manager.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, area/testing, priority/3

#857 move logic which TargetResolver to use into library
  apis/core/v1alpha1/types_target.go
  controller-utils/pkg/landscaper/targetresolver/generic/genericresolver.go
  controller-utils/pkg/landscaper/targetresolver/secret/secretrefresolver.go
  controller-utils/pkg/landscaper/targetresolver/targetresolver.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/export_test.go
  pkg/deployer/manifest/misc_test.go
  pkg/deployer/manifest/policy_test.go
  pkg/deployer/manifest/readiness_check_test.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/executions/template/spiff/spifftemplate.go
  pkg/landscaper/installations/exports/constructor.go
  pkg/landscaper/installations/imports/constructor.go
  pkg/landscaper/installations/subinstallations/subinstallations.go
  pkg/utils/uncached_client.go
  test/framework/framework.go
  test/utils/envtest/environment.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_target.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/landscaper/targetresolver/generic/genericresolver.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/landscaper/targetresolver/secret/secretrefresolver.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/landscaper/targetresolver/targetresolver.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/m, priority/3

#859 Fix uninstall for helm deployer
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs, area/deployers, priority/3

#862 Refactor container deployer (run-int-tests)
  apis/.schemes/container-v1alpha1-Configuration.json
  apis/deployer/container/types_config.go
  apis/deployer/container/v1alpha1/defaults.go
  apis/deployer/container/v1alpha1/types_config.go
  apis/openapi/openapi_generated.go
  cmd/container-deployer/container-deployer-controller/app/app.go
  docs/api-reference/core.md
  pkg/deployer/container/add.go
  pkg/deployer/container/container_suite_test.go
  pkg/deployer/container/garbage_collector.go
  pkg/deployer/container/garbage_collector_test.go
  pkg/deployer/container/reconciler_pod.go
  pkg/deployer/lib/cmd/default.go
  pkg/deployer/lib/cmd/deployerJobs.go
  test/framework/framework.go
  test/integration/suite_test.go
  test/integration/webhook/webhook.go
  test/utils/envtest/retrying_client.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/types_config.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/types_config.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, area/container-deployer, priority/3
