Repository gardener/landscaper, pull requests merged in 2023-03, with the labels that each got.

#699 No Imports Across Namespaces
  apis/.schemes/core-v1alpha1-Blueprint.json
  apis/.schemes/helm-v1alpha1-ProviderConfiguration.json
  apis/.schemes/manifest-v1alpha1-ProviderConfiguration.json
  apis/.schemes/manifest-v1alpha2-ProviderConfiguration.json
  apis/.schemes/mock-v1alpha1-ProviderConfiguration.json
  apis/core/types_installation.go
  apis/core/types_shared.go
  apis/core/v1alpha1/defaults.go
  apis/core/v1alpha1/defaults_test.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/types_shared.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/validation/blueprint_test.go
  apis/core/validation/installation.go
  apis/core/validation/installation_test.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/tutorials/01-create-simple-blueprint.md
  docs/tutorials/resources/ingress-nginx-upgrade/installation.yaml
  docs/tutorials/resources/ingress-nginx/installation.yaml
  docs/tutorials/resources/local-ingress-nginx/installation.yaml
  docs/usage/Installations.md
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployerregistrations.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  pkg/landscaper/installations/helper.go
  pkg/landscaper/installations/helper_test.go
  pkg/landscaper/installations/imports/conditional_imports_test.go
  pkg/landscaper/installations/operation.go
  pkg/utils/references.go
  test/integration/deployers/blueprints/blueprints_tests.go
  test/integration/targets/targets.go
  test/utils/builder.go
  test/utils/resources.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/validation/installation.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, priority/3

#701 Expand Manifests
  pkg/deployer/helm/ensure.go
  pkg/deployer/lib/lib_suite_test.go
  pkg/deployer/lib/manifest_expansion.go
  pkg/deployer/lib/manifest_expansion_test.go
  pkg/deployer/lib/resourcemanager/objectapplier.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, priority/3

#703 Manifest Expansion: Handle Empty Lists
  pkg/deployer/lib/manifest_expansion.go
  pkg/deployer/lib/manifest_expansion_test.go
  test/utils/envtest/state.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#702 Improved reconcile for container deployer.
  pkg/deployer/container/reconciler_pod.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/container-deployer, priority/3

#706 not finding a resource is not an error while garbage collecting
  pkg/deployer/container/garbage_collector.go
Labels: area/logging, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, priority/3

#705 fix nil pointer in pickup timeout detection
  pkg/landscaper/controllers/deployitem/reconcile.go
Labels: area/robustness, kind/regression, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, priority/3

#712 Remove Secrets with Static Tokens From RBAC Helm Chart
  charts/landscaper/charts/rbac/templates/serviceaccount.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, priority/3

#710 Retrying Client for Integration Tests
  test/framework/framework.go
  test/landscaper/e2e/multicomp_test.go
  test/utils/envtest/environment.go
  test/utils/envtest/retrying_client.go
  test/utils/envtest/state.go
Labels: kind/test, needs/ok-to-test, needs/review, needs/second-opinion, size/l, area/testing, priority/3

#711 set deployer verbosity to debug for integration tests
  .ci/int-test-helper/install-landscaper
  charts/landscaper/charts/landscaper/values.yaml
  hack/install-landscaper-for-integration-test.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/s, priority/3

#709 minor fixes
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/reconciler_deployitem.go
  pkg/deployer/lib/controller.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, priority/3

#708 Remove second phase from DeployItem
  apis/core/types_deployitem.go
  apis/core/v1alpha1/defaults.go
  apis/core/v1alpha1/types_deployitem.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/deployer/container/types_provider.go
  apis/deployer/container/v1alpha1/types_provider.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  docs/technical/deployer_contract.md
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/container_suite_test.go
  pkg/deployer/helm/test/e2e_test.go
  pkg/deployer/lib/controller.go
  pkg/deployer/lib/interruption_checker.go
  pkg/deployer/lib/targetselector/e2e_suite_test.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/test/e2e_test.go
  pkg/landscaper/controllers/deployitem/reconcile.go
  pkg/landscaper/controllers/deployitem/reconcile_test.go
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployitems.yaml
  pkg/landscaper/execution/classification.go
  pkg/landscaper/execution/classification_test.go
  pkg/utils/constants.go
  pkg/utils/landscaper/landscaper.go
  pkg/utils/read_write_layer/logger.go
  test/integration/deployers/blueprints/blueprints_tests.go
  test/integration/deployers/container/containertests.go
  test/integration/deployers/helmcharts/chartstests.go
  test/integration/deployers/helmdeployer/helm_deployer_tests.go
  test/integration/deployers/manifest_tests.go
  test/integration/deployitems/timeouts.go
  test/integration/tutorial/external-jsonschema.go
  test/integration/tutorial/ingress-nginx.go
  test/integration/tutorial/simple-import.go
  test/landscaper/e2e/inlinecd_test.go
  test/landscaper/e2e/simple_test.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/types_provider.go
  vendor/github.com/gardener/landscaper/apis/deployer/container/v1alpha1/types_provider.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, priority/3

#713 Fix Nilpointer in Manifest Deployer
  apis/.schemes/helm-v1alpha1-ProviderStatus.json
  apis/.schemes/manifest-v1alpha2-ProviderStatus.json
  apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  apis/deployer/helm/zz_generated.deepcopy.go
  apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  apis/deployer/manifest/zz_generated.deepcopy.go
  apis/deployer/utils/managedresource/types.go
  apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/testdata/testchart2/Chart.yaml
  pkg/deployer/helm/testdata/testchart2/templates/configmaplist.yaml
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/misc_test.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/helm/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/v1alpha2/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/manifest/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/types.go
  vendor/github.com/gardener/landscaper/apis/deployer/utils/managedresource/zz_generated.deepcopy.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, priority/3

#714 Improve trigger dependent installations
  hack/testcluster/pkg/resources/shootcluster_template.yaml
  hack/testcluster/pkg/shootcluster_manager.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/utils/read_write_layer/logger.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/deployers, priority/3

#719 Refactor Timeouts
  apis/core/types_deployitem.go
  apis/core/types_execution.go
  apis/core/types_shared.go
  apis/core/v1alpha1/constants.go
  apis/core/v1alpha1/helper/helpers.go
  apis/core/v1alpha1/types_deployitem.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/types_shared.go
  apis/openapi/openapi_generated.go
  charts/landscaper/charts/landscaper/values.yaml
  cmd/landscaper-controller/app/app.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
  docs/api-reference/core.md
  docs/guided-tour/error-handling/timeout-error/README.md
  docs/guided-tour/error-handling/timeout-error/installation/installation-fixed.yaml
  docs/guided-tour/error-handling/timeout-error/installation/installation.yaml
  docs/usage/DeployItemTimeouts.md
  examples/00-Landscaper-Configuration.yaml
  hack/install-landscaper-for-integration-test.sh
  pkg/landscaper/controllers/deployitem/add.go
  pkg/landscaper/controllers/deployitem/controller.go
  pkg/landscaper/controllers/deployitem/deployitemcontroller_suite_test.go
  pkg/landscaper/controllers/deployitem/reconcile.go
  pkg/landscaper/controllers/deployitem/reconcile_test.go
  pkg/landscaper/controllers/execution/reconcile_test.go
  pkg/landscaper/controllers/execution/testdata/test3/00-execution.yaml
  pkg/landscaper/controllers/execution/testdata/test3/10-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test3/20-deploy-item.yaml
  pkg/landscaper/controllers/execution/testdata/test4/00-execution.yaml
  pkg/landscaper/controllers/execution/testdata/test4/10-deploy-item.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployitems.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/template/template.go
  pkg/utils/token/oidc_kubecfg_builder.go
  test/integration/deployitems/timeouts.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/types_shared.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/constants.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_shared.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, priority/3

#720 LsHealthCheck: Init status on create
  apis/core/v1alpha1/types_ls_health_check.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_ls_health_check.go
  pkg/landscaper/controllers/healthcheck/add.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_ls_health_check.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, priority/3

#716 Phase Transition Time
  apis/core/types_execution.go
  apis/core/types_installation.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  pkg/landscaper/controllers/execution/controller.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  pkg/landscaper/installations/operation.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, priority/3, area/operations

#724 fix invalid readiness check status after timeout
  pkg/deployer/helm/helm_suite_test.go
  pkg/deployer/helm/testdata/testchart3/Chart.yaml
  pkg/deployer/helm/testdata/testchart3/templates/configmap.yaml
  pkg/deployer/lib/readinesscheck/customreadinesscheck_test.go
  pkg/deployer/lib/readinesscheck/readiness.go
  pkg/deployer/manifest/readiness_check_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, area/deployers, priority/3, kind/ipsei
