Repository gardener/landscaper, pull requests merged in 2023-04, with the labels that each got.

#727 Webhook server runs on several replicas
  charts/landscaper/charts/landscaper/templates/deployment-webhooks.yaml
  charts/landscaper/charts/landscaper/values.yaml
  cmd/landscaper-webhooks-server/app/app.go
  controller-utils/pkg/webhook/certificates.go
  hack/testcluster/pkg/resources/shootcluster_template.yaml
  pkg/utils/landscaper/landscaper.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/webhook/certificates.go
Labels: area/high-availability, kind/enhancement, needs/ok-to-test, needs/review, size/m, priority/3, area/ipcei

#730 Bugfix: duplicate CDs in list of components
  docs/usage/Blueprints.md
  pkg/landscaper/registry/components/cdutils/utils.go
  pkg/landscaper/registry/components/cdutils/utils_test.go
  pkg/landscaper/registry/testdata/registry/a/component-descriptor.yaml
  pkg/landscaper/registry/testdata/registry/ab/component-descriptor.yaml
  pkg/landscaper/registry/testdata/registry/b/component-descriptor.yaml
  pkg/landscaper/registry/testdata/registry/root/component-descriptor.yaml
  test/utils/cnudie.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, priority/3

#733 use the correct expected replicas value for lshealthcheck
  pkg/landscaper/controllers/healthcheck/add.go
  pkg/landscaper/controllers/healthcheck/controller.go
  pkg/landscaper/controllers/healthcheck/healtcheck_suite_test.go
  pkg/landscaper/controllers/healthcheck/reconcile_test.go
  pkg/landscaper/controllers/healthcheck/testdata/test1/deployments.yaml
  pkg/landscaper/controllers/healthcheck/testdata/test1/lshealthcheck.yaml
  pkg/landscaper/controllers/healthcheck/testdata/test2/deployments.yaml
  pkg/landscaper/controllers/healthcheck/testdata/test2/lshealthcheck.yaml
  test/utils/envtest/environment.go
  test/utils/envtest/types.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, priority/3, area/ipcei

#736 Trigger target sync with reconcile operation
  docs/usage/TargetSyncs.md
  pkg/landscaper/controllers/targetsync/targetsync_controller.go
  pkg/landscaper/controllers/targetsync/targetsync_controller_test.go
  pkg/landscaper/controllers/targetsync/testdata/state/test1/target-sync.yaml
  pkg/landscaper/controllers/targetsync/testdata/state/test2/target-sync-1.yaml
  pkg/landscaper/controllers/targetsync/testdata/state/test2/target-sync-2.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, area/deployers, priority/3, area/ipcei

#734 Skip uninstall deploy item if cluster removed
  apis/core/types_deployitem.go
  apis/core/types_execution.go
  apis/core/v1alpha1/types_deployitem.go
  apis/core/v1alpha1/types_execution.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/README.md
  docs/api-reference/core.md
  docs/usage/SkipUninstall.md
  pkg/landscaper/controllers/targetsync/constants.go
  pkg/landscaper/controllers/targetsync/targetsync_controller.go
  pkg/landscaper/controllers/targetsync/targetsync_controller_test.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_deployitems.yaml
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_executions.yaml
  pkg/landscaper/execution/execution.go
  pkg/landscaper/execution/helper.go
  pkg/landscaper/execution/reconcile.go
  pkg/landscaper/installations/executions/operation.go
  pkg/landscaper/installations/executions/template/gotemplate/funcs.go
  pkg/landscaper/installations/executions/template/template.go
  pkg/utils/clusters/clusters_suite_test.go
  pkg/utils/clusters/shoot_client.go
  pkg/utils/clusters/shoot_kubeconfigs.go
  pkg/utils/clusters/shoot_kubeconfigs_test.go
  pkg/utils/clusters/source_client_provider.go
  pkg/utils/clusters/targetsync.go
  pkg/utils/clusters/token_client.go
  pkg/utils/targetresolver/secret/secretrefresolver.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, area/deployers, priority/3, area/ipcei

#739 Update to golang:1.19.8
  .ci/pipeline_definitions
  .test-defs/create-cluster.yaml
  .test-defs/create-registry.yaml
  .test-defs/delete-cluster.yaml
  .test-defs/delete-registry.yaml
  .test-defs/integration.yaml
  Dockerfile
Labels: area/security, kind/impediment, needs/ok-to-test, reviewed/lgtm, size/xs, priority/2

#740 fix small mistake
  docs/usage/Context.md
  examples/00-Landscaper-Configuration.yaml
Labels: area/documentation, kind/bug, needs/ok-to-test, needs/review, size/xs, priority/3

#738 Trigger Successor Installations
  apis/core/types_installation.go
  apis/core/v1alpha1/types_installation.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/core/v1alpha1/zz_generated.deepcopy.go
  apis/core/zz_generated.deepcopy.go
  apis/openapi/openapi_generated.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  controller-utils/vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  docs/api-reference/core.md
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/reconcile.go
  pkg/landscaper/controllers/installations/reconcile_delete.go
  pkg/landscaper/crdmanager/crdresources/landscaper.gardener.cloud_installations.yaml
  pkg/landscaper/installations/installation_and_imports.go
  pkg/landscaper/installations/operation.go
  pkg/landscaper/installations/trigger.go
  vendor/github.com/gardener/landscaper/apis/core/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_installation.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, priority/3

#742 Fix webhook certificate creation.
  controller-utils/pkg/webhook/certificates.go
  vendor/github.com/gardener/landscaper/controller-utils/pkg/webhook/certificates.go
Labels: area/high-availability, kind/bug, needs/ok-to-test, needs/review, size/s, priority/3
