Repository gardener/landscaper, pull requests merged in 2024-07, with the labels that each got.

#1173 Proposal kustomize deployments
  docs/proposals/KustomizeDeployments.md
Labels: needs/ok-to-test, needs/review, size/s

#1171 Registry access options
  pkg/components/blueprinthandler_test.go
  pkg/components/components_test.go
  pkg/components/jsonschemahandler_test.go
  pkg/components/model/factory.go
  pkg/components/ocmlib/factory.go
  pkg/components/ocmlib/ocm_test.go
  pkg/components/registries/registries_test.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/init/init.go
  pkg/deployer/helm/chartresolver/chartresolver_suite_test.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/landscaper/installations/context_test.go
  pkg/landscaper/installations/executions/executions_test.go
  pkg/landscaper/installations/executions/operation_test.go
  pkg/landscaper/installations/executions/template/template_test.go
  pkg/landscaper/installations/exports/constructor_test.go
  pkg/landscaper/installations/imports/conditional_imports_test.go
  pkg/landscaper/installations/imports/constructor_test.go
  pkg/landscaper/installations/imports/importexec_test.go
  pkg/landscaper/installations/reconcilehelper/validation_test.go
  pkg/landscaper/installations/subinstallations/subinstallations_test.go
  pkg/landscaper/jsonschema/jsonschema_suite_test.go
  pkg/landscaper/registry/components/cdutils/uri_test.go
  pkg/utils/landscaper/installation_simulator_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#1178 Upgrade gardenlinux to 1312.7.0
  apis/crds/manifests/landscaper.gardener.cloud_contexts.yaml
  apis/go.sum
  apis/openapi/zz_generated.openapi.go
  controller-utils/go.mod
  controller-utils/go.sum
  go.mod
  go.sum
  hack/testcluster/pkg/resources/shootcluster_template.yaml
Labels: needs/ok-to-test, needs/review, size/s

#1177 Remove UseOCM Flag
  Makefile
  apis/config/types_landscaper_config.go
  apis/config/v1alpha1/types_landscaper_config.go
  apis/config/v1alpha1/zz_generated.conversion.go
  apis/core/types_context.go
  apis/core/v1alpha1/types_context.go
  apis/core/v1alpha1/zz_generated.conversion.go
  apis/crds/manifests/landscaper.gardener.cloud_contexts.yaml
  apis/deployer/container/constants.go
  apis/deployer/container/types_config.go
  apis/deployer/container/v1alpha1/types_config.go
  apis/deployer/container/v1alpha1/zz_generated.conversion.go
  apis/deployer/helm/types_config.go
  apis/deployer/helm/v1alpha1/types_config.go
  apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  apis/deployer/manifest/types_config.go
  apis/deployer/manifest/v1alpha1/types_config.go
  apis/deployer/manifest/v1alpha1/zz_generated.conversion.go
  apis/deployer/manifest/v1alpha2/types_config.go
  apis/deployer/manifest/v1alpha2/zz_generated.conversion.go
  apis/openapi/zz_generated.openapi.go
  charts/container-deployer/templates/_helpers.tpl
  charts/container-deployer/values.yaml
  charts/helm-deployer/templates/_helpers.tpl
  charts/helm-deployer/values.yaml
  charts/landscaper/charts/landscaper/templates/_helpers.tpl
  charts/landscaper/charts/landscaper/values.yaml
  charts/manifest-deployer/templates/_helpers.tpl
  charts/manifest-deployer/values.yaml
  docs/api-reference/core.md
  docs/development/testing.md
  docs/usage/SignatureVerification.md
  hack/int-test-helper/install-landscaper
  pkg/components/registries/factory.go
  pkg/deployer/container/container_reconcile.go
  pkg/deployer/container/init/init.go
  pkg/deployer/container/init/options.go
  pkg/deployer/container/pod.go
  pkg/deployer/container/reconciler_deployitem.go
  pkg/deployer/helm/chartresolver/chart.go
  pkg/deployer/helm/chartresolver/chartresolver_suite_test.go
  pkg/deployer/helm/deployer.go
  pkg/landscaper/controllers/installations/controller.go
  pkg/landscaper/controllers/installations/registry.go
  pkg/landscaper/installations/executions/template/gotemplate/funcs.go
  pkg/landscaper/installations/executions/template/spiff/funcs.go
  pkg/landscaper/installations/executions/template/template_test.go
  test/integration/deployers/helmdeployer/helm_deployer_tests.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/m

#1157 Guided Tour: Flux Example
  docs/guided-tour/kustomize/01-kustomize-introduction/README.md
  docs/guided-tour/kustomize/01-kustomize-introduction/blueprint/blueprint.yaml
  docs/guided-tour/kustomize/01-kustomize-introduction/blueprint/deploy-execution.yaml
  docs/guided-tour/kustomize/01-kustomize-introduction/commands/component-constructor.yaml
  docs/guided-tour/kustomize/01-kustomize-introduction/commands/component.sh
  docs/guided-tour/kustomize/01-kustomize-introduction/commands/delete-installation.sh
  docs/guided-tour/kustomize/01-kustomize-introduction/commands/delete-other-k8s-resources.sh
  docs/guided-tour/kustomize/01-kustomize-introduction/commands/deploy-k8s-resources.sh
  docs/guided-tour/kustomize/01-kustomize-introduction/commands/settings
  docs/guided-tour/kustomize/01-kustomize-introduction/diagram.drawio.png
  docs/guided-tour/kustomize/01-kustomize-introduction/installation/context.yaml.tpl
  docs/guided-tour/kustomize/01-kustomize-introduction/installation/installation.yaml.tpl
  docs/guided-tour/kustomize/01-kustomize-introduction/installation/target.yaml.tpl
  docs/guided-tour/kustomize/02-podinfo/README.md
  docs/guided-tour/kustomize/02-podinfo/blueprint/blueprint.yaml
  docs/guided-tour/kustomize/02-podinfo/blueprint/deploy-execution.yaml
  docs/guided-tour/kustomize/02-podinfo/commands/component-constructor.yaml
  docs/guided-tour/kustomize/02-podinfo/commands/component.sh
  docs/guided-tour/kustomize/02-podinfo/commands/delete-installation.sh
  docs/guided-tour/kustomize/02-podinfo/commands/delete-other-k8s-resources.sh
  docs/guided-tour/kustomize/02-podinfo/commands/deploy-k8s-resources.sh
  docs/guided-tour/kustomize/02-podinfo/commands/settings
  docs/guided-tour/kustomize/02-podinfo/diagram.drawio.png
  docs/guided-tour/kustomize/02-podinfo/installation/context.yaml.tpl
  docs/guided-tour/kustomize/02-podinfo/installation/installation.yaml.tpl
  docs/guided-tour/kustomize/02-podinfo/installation/target.yaml.tpl
  docs/guided-tour/kustomize/03-dataflow/README.md
  docs/guided-tour/kustomize/03-dataflow/blueprints/gitrepository/blueprint.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/gitrepository/deploy-execution.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/root/blueprint.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/root/subinst-tokenconsumer.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/root/subinst-tokenprovider.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/secret/blueprint.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/secret/deploy-execution.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/tokenconsumer/blueprint.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/tokenconsumer/deploy-execution.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/tokenprovider/blueprint.yaml
  docs/guided-tour/kustomize/03-dataflow/blueprints/tokenprovider/deploy-execution.yaml
  docs/guided-tour/kustomize/03-dataflow/commands/component-constructor.yaml
  docs/guided-tour/kustomize/03-dataflow/commands/component.sh
  docs/guided-tour/kustomize/03-dataflow/commands/delete-installation.sh
  docs/guided-tour/kustomize/03-dataflow/commands/delete-other-k8s-resources.sh
  docs/guided-tour/kustomize/03-dataflow/commands/deploy-k8s-resources.sh
  docs/guided-tour/kustomize/03-dataflow/commands/settings
  docs/guided-tour/kustomize/03-dataflow/diagram.drawio.png
  docs/guided-tour/kustomize/03-dataflow/installation/context.yaml.tpl
  docs/guided-tour/kustomize/03-dataflow/installation/installation-gitrepository.yaml.tpl
  docs/guided-tour/kustomize/03-dataflow/installation/installation-root.yaml.tpl
  docs/guided-tour/kustomize/03-dataflow/installation/installation-secret.yaml.tpl
  docs/guided-tour/kustomize/03-dataflow/installation/target.yaml.tpl
  docs/guided-tour/kustomize/03-dataflow/resources/first/kustomization.yaml
  docs/guided-tour/kustomize/03-dataflow/resources/first/secret.yaml
  docs/guided-tour/kustomize/03-dataflow/resources/first/serviceaccount.yaml
  docs/guided-tour/kustomize/03-dataflow/resources/second/configmap.yaml
  docs/guided-tour/kustomize/03-dataflow/resources/second/kustomization.yaml
Labels: needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/xl

#1174 Additional targets
  apis/deployer/utils/managedresource/types.go
  apis/deployer/utils/managedresource/types_deletiongroup.go
  apis/deployer/utils/managedresource/zz_generated.deepcopy.go
  apis/deployer/utils/readinesschecks/types_healthchecks.go
  apis/deployer/utils/readinesschecks/zz_generated.deepcopy.go
  apis/openapi/zz_generated.openapi.go
  docs/deployer/healthchecks.md
  docs/deployer/helm.md
  docs/deployer/manifest.md
  docs/deployer/manifest_deletion.md
  docs/guided-tour/kustomize/02-podinfo/README.md
  docs/guided-tour/kustomize/03-dataflow/blueprints/gitrepository/deploy-execution.yaml
  docs/guided-tour/kustomize/03-dataflow/commands/component-constructor.yaml
  docs/proposals/helm-manifest-deployer-ordering.md
  pkg/deployer/helm/ensure.go
  pkg/deployer/helm/helm.go
  pkg/deployer/lib/manifest_expansion.go
  pkg/deployer/lib/readinesscheck/customreadinesscheck.go
  pkg/deployer/lib/readinesscheck/customreadinesscheck_test.go
  pkg/deployer/lib/readinesscheck/readiness_suite_test.go
  pkg/deployer/lib/resourcemanager/deletiongroup.go
  pkg/deployer/lib/resourcemanager/deletionmanager.go
  pkg/deployer/lib/resourcemanager/exporter.go
  pkg/deployer/lib/resourcemanager/matcher.go
  pkg/deployer/lib/resourcemanager/objectapplier.go
  pkg/deployer/lib/target_client_provider.go
  pkg/deployer/lib/utils.go
  pkg/deployer/manifest/ensure.go
  pkg/deployer/manifest/manifest.go
  pkg/deployer/manifest/misc_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#1184 Improve docu of flux examples
  docs/guided-tour/kustomize/01-kustomize-introduction/README.md
  docs/guided-tour/kustomize/03-dataflow/README.md
Labels: needs/ok-to-test, needs/review, size/xs

#1187 Troubleshooting
  docs/README.md
  docs/guided-tour/README.md
  docs/guided-tour/error-handling/problem_analysis.md
  docs/troubleshooting/common-issues.md
  docs/troubleshooting/troubleshooting.md
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#1189 Add helm force option
  apis/deployer/helm/types_provider.go
  apis/deployer/helm/v1alpha1/types_provider.go
  apis/deployer/helm/v1alpha1/validation/validation.go
  apis/deployer/helm/v1alpha1/zz_generated.conversion.go
  apis/openapi/zz_generated.openapi.go
  docs/deployer/helm.md
  pkg/deployer/helm/realhelmdeployer/deploy_config.go
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
Labels: needs/ok-to-test, needs/review, size/xs

#1193 Fix helm log function
  pkg/deployer/helm/realhelmdeployer/real_helm_deployer.go
Labels: needs/ok-to-test, needs/review, size/xs

#1191 Fix upload of integration test results
  .ci/update_release.py
Labels: needs/ok-to-test, needs/review, size/xs

#1196 Fix panic unit test
  apis/go.mod
  apis/go.sum
  controller-utils/go.mod
  controller-utils/go.sum
  go.mod
  go.sum
  pkg/utils/panic_handler_test.go
Labels: needs/ok-to-test, needs/review, size/s
